<style>
    .activity-state-comments-page textarea {
        border-radius: 0;
        background-color: #f9f9f9;
    }

    .activity-state-comments-page .star>span.tag {
        float: left;
        margin-top: 5px
    }

    .activity-state-comments-page .star-list {
        margin-left: 90px;
    }

    .activity-state-comments-page .star-list span {
        font-size: 1.8em;
        cursor: pointer;
    }

    .activity-state-comments-page .glyphicon-star {
        color: #bbb;
    }

    .activity-state-comments-page .glyphicon-star.active {
        color: #fcd62c;
    }

    .activity-state-comments-page .comment-list .head {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        float: left;
    }

    .activity-state-comments-page .comment-list .con {
        margin-left: 80px;
    }

    .activity-state-comments-page .comment-list .glyphicon-star {
        font-size: 1.4em;
        transform: translateY(4px);
    }

    .activity-state-comments-page .comment-list li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #ddd;
    }

    .activity-state-comments-page .comment-list li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
</style>
<div class="activity-state-comments-page">
    <form action="" class="mb">
        <textarea name="" cols="20" rows="5" class="form-control app-mb20" placeholder="来说两句吧......"></textarea>
        <input type="hidden" name="star">
        <div class="star">
            <span class="tag">好评指数：</span>
            <div class="star-list">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-warning btn-lg">发布</button>
        </div>
    </form>
    <div class="comment-list mb">
        <div class="comment-title app-mb20">
            <span>最新评论（2条）</span>
        </div>
        <ul>
            <li>
                <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                <div class="con">
                    <div class="app-mb10">
                        <a href="" class="text-muted">用户名</a>
                        <div class="pull-right">
                            <span class="text-muted">好评指数：</span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                    <div>
                        <span class="text-muted">30分钟前</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                <div class="con">
                    <div class="app-mb10">
                        <a href="" class="text-muted">用户名</a>
                        <div class="pull-right">
                            <span class="text-muted">好评指数：</span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                    <div>
                        <span class="text-muted">30分钟前</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                <div class="con">
                    <div class="app-mb10">
                        <a href="" class="text-muted">用户名</a>
                        <div class="pull-right">
                            <span class="text-muted">好评指数：</span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                    <div>
                        <span class="text-muted">30分钟前</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                <div class="con">
                    <div class="app-mb10">
                        <a href="" class="text-muted">用户名</a>
                        <div class="pull-right">
                            <span class="text-muted">好评指数：</span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                    <div>
                        <span class="text-muted">30分钟前</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                <div class="con">
                    <div class="app-mb10">
                        <a href="" class="text-muted">用户名</a>
                        <div class="pull-right">
                            <span class="text-muted">好评指数：</span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                    <div>
                        <span class="text-muted">30分钟前</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    // 好评
    $('.star-list span').on('mouseenter', function () {
        $('.star-list span').addClass('active')
        $(this).nextAll().removeClass('active')
    })
    $('.star-list span').on('mouseleave', function () {
        var star = Number($('input[name="star"]').val()) || 0
        $('.star-list span').removeClass('active').slice(0, star).addClass('active')
    })
    $('.star-list span').on('click', function () {
        $('input[name="star"]').val($(this).index() + 1)
    })
</script>