<style>
    .allnew-list {
        overflow: hidden;
    }

    .allnew-list .panel-body {
        height: 240px;
        overflow: hidden;
    }

    .allnew-list .time {
        float: right;
        color: #999;
    }

    .allnew-list .app-elip {
        margin: 0 60px 0 15px;
    }

    .allnew-list .con {
        margin-left: 15px;
    }

    .allnew-list li {
        margin-bottom: 15px;
    }

    .allnew-list li:last-child {
        margin-bottom: 0
    }

    .allnew-list li::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        float: left;
        background-color: #39ABEF;
        margin-top: 7px;
    }
</style>
<div class="allnew-list">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">新闻动态
                        <a class="more" href="" title="更多">&gt;&gt;</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="news">
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">政策法规
                        <a class="more" href="" title="更多">&gt;&gt;</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="news">
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                        <li>
                            <span class="time">07-22</span>
                            <div class="app-elip">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">通知公告
                        <a class="more" href="" title="更多">&gt;&gt;</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="news scroll-box">
                        <li>
                            <div class="con">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                                <span class="time">07-22</span>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                                <span class="time">07-22</span>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                                <span class="time">07-22</span>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                                <span class="time">07-22</span>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <a href="">标题标题标题标题标题标题标题标题标题标题标题标题</a>
                                <span class="time">07-22</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        $('.scroll-box').each(function () {
            scrollTop({
                el: this
            })
        })

        function scrollTop(opts) {
            opts = $.extend(opts, {
                childs: 'li',
                speed: 200,
                wait: 1200
            })
            var mtop = 0,
                index = 0,
                ele = $(opts.el),
                lis = ele.find(opts.childs);
            var timer = ele.data('timer')
            timer && clearInterval(timer)
            start()
            ele.mouseenter(function () {
                clearInterval(timer)
            })
            ele.mouseleave(start)

            function start() {
                timer = setInterval(function () {
                    var li = lis.eq(index);
                    ++index
                    if (index >= lis.length) {
                        index = 0
                        mtop = 0
                        ele.css('marginTop', mtop + 'px')
                    } else {
                        mtop += (li.height() + parseFloat(li.css('marginBottom')))
                        ele.animate({
                            'marginTop': -mtop + 'px'
                        }, opts.speed)
                    }
                }, opts.wait)
            }
        }
    })()
</script>