<div class="container">
    <div class="row ">
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="baji">
                <h2 class="bjbm">班级报名</h2>
                <div class="bjname">
                    <div class="didian">班级名称：老年大学培训班</div>
                    <div class="didian">培训时间：2018/09/09-2019/12/23</div>
                    <div class="didian">培训地点：安琥广播电视大学</div>
                    <div class="fangshi" style="margin-top:40px">
                        <div>培训导师：陈良东</div>
                        <div>辅导老师：姚露</div>
                    </div>
                    <div class="fangshi" style="margin-top: 20px">
                        <div>培训方式：陈良东</div>
                        <div>培训费用：9999元</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
    </div>
</div>

<div class="container">
    <div class="row mar20">
        <div class="col-xs-0 col-sm-3 col-md-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="flexin">
                <div class="youname"> <span>*</span> 您的姓名：</div>
                <div class="youinput"> <input type="text"  placeholder="请输入名字"></div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-3 col-md-3"></div>
    </div>
    <div class="row mar20">
        <div class="col-xs-0 col-sm-3 col-md-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="flexin">
                <div class="youname"> <span>*</span> 您的联系方式：</div>
                <div class="youinput"> <input type="text"  placeholder="请输入名字"></div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-3 col-md-3"></div>
    </div>
    <a class="baoming" href="">我要报名</a>
</div>

<div class="container">
    <div class="row">
        <img class="img-responsive" src="/img/pic33.png" alt=""/>
    </div>
</div>
