<div class="container">
    <div class="row mar40">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive" src="/img/bb2.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="fltaiji">
                <div class="peixub">老年人太极拳培训</div>
                <div class="flbgs">
                    <div class="flbgs1"><a href=""><img class="img-responsive" src="/img/网上报名页面-收藏-无.png" alt=""></a></div>
                    <div class="flbgs2"><a href=""><img class="img-responsive" src="/img/网上报名页面-分享.png" alt=""></a></div>
                </div>
            </div>
            <div class="peixuntime" style="padding-top: 24px">
                <span>▪</span>培训时间：2018/06/06-2019/06/04
            </div>
            <div class="peixuntime">
                <span>▪</span>培训地点：安徽广播大学大学大学
            </div>
            <div class="peixuntimes">
                <div><span>▪</span>培训方式：线下培训</div>
                <div><span>▪</span>培训费用：9999元</div>
            </div>
            <div class="peixuntimes">
                <div><span>▪</span>培训导师：线下</div>
                <div><span>▪</span>辅导老师：哈哈</div>
            </div>
            <div class="peixuntimesrs">
                <div>
                    <img id="pic2" src="/img/aa1.jpg" alt="">
                    报名人数：1999
                </div>
                <div>
                    <img id="pic2" src="/img/aa2.jpg" alt="">
                    收藏人数：666人
                </div>
            </div>
            <a class="peixun2" href="">报名</a>
        </div>
    </div>
</div>