<div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row">

        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                <span>*</span> 您的真实姓名:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" placeholder="Twitterhandle">
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                <span>*</span>性别:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 ">
                <select id="province">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
        </div>

        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                <span>*</span> 身份证号码:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" placeholder="123121243434">
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-10 text-left linhei">
                上传身份认证证件 :
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 text-center paishe">
                (拍摄您的第二代身份证原件，请保证图片清晰，四角完整。)
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="page-header">
                    <form>
                        <div class="form-group"  enctype='multipart/form-data'>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail imgsiz" style="width: 200px;height:200px">
                                    请上传身份证正面
                                    <img style="width: 100%;height: auto;max-height: 140px;" src="/img/身份证正面.png" alt=""/>-
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px;height:auto;"></div>
                                <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择图片</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="pic1"  accept="image/gif,image/jpeg,image/x-png">
                        </span>
                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="page-header">
                    <form>
                        <div class="form-group"  enctype='multipart/form-data'>
                            <div class="fileinput fileinput-new" data-provides="fileinput" >
                                <div class="fileinput-new thumbnail imgsiz" style="width: 200px;height:200px">
                                    请上传身份证反面
                                    <img  style="width: 100%;height: auto;max-height: 140px;" src="/img/身份证反面.png" alt=""/>-
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px;height:auto;"></div>
                                <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择图片</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="pic1"  accept="image/gif,image/jpeg,image/x-png">
                        </span>
                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="row mar40">
            <button type="button" class="center-block baocun">登记认证</button>
        </div>
    </div>
</div>