<style>
    .certinfo-courselist-block textarea {
        border-radius: 0;
        background-color: #f9f9f9;
    }

    .certinfo-courselist-block .star>span.tag {
        float: left;
        margin-top: 5px
    }

    .certinfo-courselist-block .star-list {
        margin-left: 90px;
    }

    .certinfo-courselist-block .star-list span {
        font-size: 1.8em;
        cursor: pointer;
    }

    .certinfo-courselist-block .glyphicon-star {
        color: #bbb;
    }

    .certinfo-courselist-block .glyphicon-star.active {
        color: #fcd62c;
    }

    .certinfo-courselist-block .comment-list .head {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        float: left;
    }

    .certinfo-courselist-block .comment-list .con {
        margin-left: 80px;
    }

    .certinfo-courselist-block .comment-list .glyphicon-star {
        font-size: 1.4em;
        transform: translateY(4px);
    }

    .certinfo-courselist-block .comment-list li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #ddd;
    }

    .certinfo-courselist-block .comment-list li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .certinfo-courselist-block .homeword .app-table-cell {
        padding: 5px;
    }

    .certinfo-courselist-block .date {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 10px;
        line-height: 100px;
        text-align: center;
        color: #fff;
        background-color: #cfa972;
    }

    .certinfo-courselist-block .date img {
        position: absolute;
        top: -5px;
        left: -5px;
    }

    .certinfo-courselist-block .homeword li {
        border-bottom: 1px dashed #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .certinfo-courselist-block .homeword li:last-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .certinfo-courselist-block .article {
        line-height: 2.2em;
        text-indent: 2em;
        color: #666;
        margin-bottom: 30px;
    }

    .certinfo-courselist-block .course .tit {
        line-height: 29px;
        background-position: left center;
        padding-left: 35px;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .certinfo-courselist-block .course .tit.bxk {
        background-image: url('/public/img/icon_bxk.png')
    }

    .certinfo-courselist-block .course .tit.xxk {
        background-image: url('/public/img/icon_xxk.png')
    }

    .certinfo-courselist-block .progress {
        width: 100%;
        margin: 0;
        height: 12px;
    }

    .certinfo-courselist-block .progress-bar {
        background-color: #39abef;
    }

    .certinfo-courselist-block .pl {
        padding-left: 10px
    }

    .certinfo-courselist-block .course li {
        margin-bottom: 10px;
        padding-left: 40px;
    }
</style>
<div class="certinfo-courselist-block">
    <div class="tag-title clearfix app-mb20">
        <span class="active">相关课程</span>
        <span>简介</span>
        <span>同学</span>
        <span>评价</span>
    </div>
    <div class="tag-content">
        <div class="course">
            <h4 class="tit bxk">必修课
                <span class="text-muted">（学分要求：
                    <span class="text-primary">84</span>&nbsp;&nbsp;已学：
                    <span class="text-primary">5.4</span>分）</span>
            </h4>
            <ul class="mb">
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
            </ul>
            <h4 class="tit xxk">选修课
                <span class="text-muted">（学分要求：
                    <span class="text-primary">84</span>&nbsp;&nbsp;已学：
                    <span class="text-primary">5.4</span>分）</span>
            </h4>
            <ul>
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
                <li class="app-table">
                    <div class="app-table-cell">
                        <a href="">
                            标题标题标题标题标（5.7分）
                        </a>
                    </div>
                    <div class="app-table-cell" style="width:50%">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="app-table-cell text-primary pl">60%</div>
                </li>
            </ul>
        </div>
        <div class="article" style="display: none">
            合肥作为长三角国际级城市群副中心,在长三角地区是一个后发城市,也是高成长性城市。
            <br>"十二五"以来,合肥的主要经济指标增速持续保持2位数增长,位居省会城市前列,领跑长三角中心城市。
            <br>合肥传承江淮地域文化,彰显现代创新文化,又培育巢湖特色文化,学习型城市的建设又创造了合肥独特的城市文化内涵。
            <br>合肥市作为全国学习型联盟城市,涌现出了一批国家和省级示范县区、示范街道、示范乡镇成技校及学习型家庭和学习之星,有力提升了合肥的社会文明风尚和城市文明气质。
            <br>1Ep-R藤E2014年12月"合肥社区大学"的挂牌及"合肥终身学习网"的上线更是有力地推动了我市终身教育体系的构建和学习型城市的进程。
            <br>"人人皆学、时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。
            <br>未来，我们会不断实践、不断探索、不断创新,以点带线,以线促面使广大市民在学习中找到幸福,并主动融入学习型城市、书香合肥建设中,同心协力推进"乐居、宜业、尚学"的幸福合肥建设!
        </div>
        <div style="display: none">同学</div>
        <div class="comment" style="display: none">
            <form action="" class="mb">
                <textarea name="" cols="20" rows="5" class="form-control app-mb20" placeholder="来说两句吧......"></textarea>
                <input type="hidden" name="star">
                <div class="star">
                    <span class="tag">好评指数：</span>
                    <div class="star-list">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-warning btn-lg">发布</button>
                </div>
            </form>
            <div class="comment-list mb">
                <div class="comment-title app-mb20">
                    <span>最新评论（2条）</span>
                </div>
                <ul>
                    <li>
                        <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                        <div class="con">
                            <div class="app-mb10">
                                <a href="" class="text-muted">用户名</a>
                                <div class="pull-right">
                                    <span class="text-muted">好评指数：</span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                            <div>
                                <span class="text-muted">30分钟前</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                        <div class="con">
                            <div class="app-mb10">
                                <a href="" class="text-muted">用户名</a>
                                <div class="pull-right">
                                    <span class="text-muted">好评指数：</span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                            <div>
                                <span class="text-muted">30分钟前</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                        <div class="con">
                            <div class="app-mb10">
                                <a href="" class="text-muted">用户名</a>
                                <div class="pull-right">
                                    <span class="text-muted">好评指数：</span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                            <div>
                                <span class="text-muted">30分钟前</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                        <div class="con">
                            <div class="app-mb10">
                                <a href="" class="text-muted">用户名</a>
                                <div class="pull-right">
                                    <span class="text-muted">好评指数：</span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                            <div>
                                <span class="text-muted">30分钟前</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="app-cover head" style="background-image: url('/public/pic/1.jpg')"></a>
                        <div class="con">
                            <div class="app-mb10">
                                <a href="" class="text-muted">用户名</a>
                                <div class="pull-right">
                                    <span class="text-muted">好评指数：</span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </div>
                            </div>
                            <p>时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。</p>
                            <div>
                                <span class="text-muted">30分钟前</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    // 好评
    $('.star-list span').on('mouseenter', function () {
        $('.star-list span').addClass('active')
        $(this).nextAll().removeClass('active')
    })
    $('.star-list span').on('mouseleave', function () {
        var star = Number($('input[name="star"]').val()) || 0
        $('.star-list span').removeClass('active').slice(0, star).addClass('active')
    })
    $('.star-list span').on('click', function () {
        $('input[name="star"]').val($(this).index() + 1)
    })

    $('.certinfo-courselist-block .tag-title').on('click', 'span:not(.active)', function () {
        var _this = $(this)
        _this.closest('.tag-title').find('span.active').removeClass('active')
        _this.addClass('active')
        $('.certinfo-courselist-block .tag-content>div').hide()
        $('.certinfo-courselist-block .tag-content>div:eq(' + _this.index() + ')').show()
    })
</script>