<style>
    .certinfo-base-block .detail h4 {
        line-height: 1.8em;
    }

    .certinfo-base-block .detail li {
        color: #777;
    }

    .certinfo-base-block .detail ul {
        margin-bottom: 12px;
    }

    .certinfo-base-block .detail ul.inline li {
        float: left;
        margin-right: 40px;
    }

    .certinfo-base-block .bortop {
        border-top: 1px dashed #ddd;
        padding-top: 10px;
    }

    .certinfo-base-block .btn-groups .btn {
        border-radius: 30px;
        min-width: 130px;
        margin-right: 20px;
    }
</style>
<div class="certinfo-base-block app-mb20">
    <div class="row detail">
        <div class="col-xs-4">
            <img src="../../../public/pic/1.jpg" style="height: 290px;" alt="说明" class="img-responsive">
        </div>
        <div class="col-xs-8">
            <h4>
                标题标题标题标题标题标题标题标题标题标题标题标题标题标
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    </button>
                </div>
            </h4>
            <ul>
                <li>发证机构：安徽省社会教育服务指导中心</li>
            </ul>
            <ul class="row">
                <li class="col-xs-4">证书有效期：长期有效</li>
                <li class="col-xs-8">证书分类：分类啊啊</li>
            </ul>
            <ul class="row">
                <li class="col-xs-4">报名时间：长期有效</li>
                <li class="col-xs-8">获得条件：
                    <span class="text-primary">必修课：81分 | 选修课：119分</span>
                </li>
            </ul>
            <ul>
                <li>学习进度：</li>
            </ul>
            <ul class="clearfix inline bortop">
                <li class="data-icon data-icon-bm">报名人数：22222</li>
                <li class="data-icon data-icon-sc">已发证人数：22222</li>
                <li class="data-icon data-icon-sc">收藏人数：22222</li>
            </ul>
            <div class="clearfix btn-groups">
                <a href="" class="btn btn-warning btn-lg">报名</a>
            </div>
        </div>
    </div>
</div>