<style>
    .curriculum-list .cates {
        float: right;
        margin-right: 10px;
    }

    .curriculum-list .cates li {
        color: #fff;
        float: left;
        margin-left: 5px;
    }

    .curriculum-list .cates li a,
    .curriculum-list .cates li a:hover {
        color: #fff;
    }

    @media (min-width: 1200px) {
        .col {
            width: 20%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
</style>
<div class="curriculum-list img-news-list panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title clearfix">课程中心
            <a class="more" href="" title="更多">&gt;&gt;</a>
            <ul class="cates clearfix">
                <li>
                    <a href="">公民素养</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">书画雕刻</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">文化体育</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">养生保健</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">家庭教育</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">生活休闲</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">文史艺术</a>
                </li>
                <li>|</li>
                <li>
                    <a href="">技能学习</a>
                </li>
            </ul>
        </h3>
    </div>
    <div class="panel-body app-overflow">
        <div class="row">
            <div class="col-md-3 col-sm-4 col">
                <a href="" class="box">
                    <div class="app-cover" style="background-image:url('/public/img/4.jpg')"></div>
                    <div class="fot">
                        <h4 class="app-elip">标题咯</h4>
                        <p class="text-muted">播放：110</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col">
                <a href="" class="box">
                    <div class="app-cover" style="background-image:url('/public/img/4.jpg')"></div>
                    <div class="fot">
                        <h4 class="app-elip">标题咯</h4>
                        <p class="text-muted">播放：110</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col">
                <a href="" class="box">
                    <div class="app-cover" style="background-image:url('/public/img/4.jpg')"></div>
                    <div class="fot">
                        <h4 class="app-elip">标题咯</h4>
                        <p class="text-muted">播放：110</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col">
                <a href="" class="box">
                    <div class="app-cover" style="background-image:url('/public/img/4.jpg')"></div>
                    <div class="fot">
                        <h4 class="app-elip">标题咯</h4>
                        <p class="text-muted">播放：110</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col">
                <a href="" class="box">
                    <div class="app-cover" style="background-image:url('/public/img/4.jpg')"></div>
                    <div class="fot">
                        <h4 class="app-elip">标题咯</h4>
                        <p class="text-muted">播放：110</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>