<div class="container-fluid margintb bjtp">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 fllianjie">
                <div class="lianjie">友情链接：</div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
                <div class="margin-ri">
                    <a href="">中国成人教育协会</a>
                </div>
            </div>
        </div>
    </div>
</div>