<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="col-xs-12 col-sm-12 col-md-12 huibj">
        常见问题
        <a class="pull-right gmd" href="">更多</a>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 gwy">
            •<span>[2018-07-07]</span><a href="">国务院干哈国务院干哈国院干哈国务院干哈务院干哈国务院干哈国</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 gwy">
            •<span>[2018-07-07]</span><a href="">国务院干哈国务院干院干哈国务院干哈哈国务院干哈国务院干哈国</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 gwy">
            •<span>[2018-07-07]</span><a href="">国务院干哈国务院院干哈国务院干哈干哈国务院干哈国务院干哈国</a>
        </div>
    </div>

</div>