<style>
    .link {
        background-color: #39ABEF;
        /* background-image: url('/public/img/1.jpg'); */
        background-repeat: repeat;
        background-position: center;
        padding: 15px 0;
        min-height: 48px;
    }

    .link li {
        color: #ffffff;
        float: left;
        margin-right: 15px;
    }

    .link li a {
        color: #fff;
    }
</style>
<div class="link">
    <div class="container">
        <ul class="clearfix">
            <li>友情链接：</li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
            <li>
                <a href="">国防部</a>
            </li>
        </ul>
    </div>
</div>