<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="">资源中心</a>
                </li>
                <li>
                    <a href="">网上报名</a>
                </li>
                <li>
                    <a href="">主题活动</a>
                </li>
                <li>
                    <a href="">学习小组</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">才艺与分享 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">才艺</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">分享</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">帮助中心</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
            </ul>

        </div>
    </div>
</nav>