<div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row">
        <div class="page-header">
            <form>
                <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                    <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                        <div class="fileinput-new thumbnail" style="width: 150px;height:150px">

                            <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="/img/tx.jpg" alt=""/>
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="width: 150px;height:auto;"></div>
                        <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择图片</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                        </span>
                            <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                        </div>
                    </div>
                </div>

            </form>
            <button type="button" id="uploadSubmit" class="center-block btn btn-info">提交</button>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right">
                用户名:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 huise">
                tdfsdfsdfsdf
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                姓名:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" placeholder="Twitterhandle">
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                性别:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 ">
                <select id="province">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                所在区域:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 ">
                <div class="city-picker-select"></div>
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                电子邮件:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" placeholder="1231212@126.com">
            </div>
        </div>
        <div class="row mar20">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 text-right linhei">
                手机号码:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" placeholder="129312111">
            </div>
        </div>
        <div class="row mar40">
            <button type="button" class="center-block baocun">保存</button>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            //比较简洁，细节可自行完善
            $('#uploadSubmit').click(function () {
                var data = new FormData($('#uploadForm')[0]);
                $.ajax({
                    url: 'xxx/xxx',
                    type: 'POST',
                    data: data,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data.status) {
                            console.log('upload success');
                        } else {
                            console.log(data.message);
                        }
                    },
                    error: function (data) {
                        console.log(data.status);
                    }
                });
            });

        })
    </script>
    <script type="text/javascript">
        $(function () {

            //模拟城市-无联动/无搜索
            var selector = $('#city-picker-selector').cityPicker({
                dataJson: cityData,
                renderMode: true,
                search: false,
                linkage: false
            })
            $('#city-picker-selector').on('choose-province.citypicker', function(event, tagert, storage) {
                console.log(storage);
            });

            //设置城市
            selector.setCityVal([{
                'id': '110000',
                'name': '北京市'
            }, {
                'id': '110100',
                'name': '北京市'
            }, {
                'id': '110108',
                'name': '海淀区'
            }]);

            //模拟城市-联动/搜索
            $('#city-picker-search').cityPicker({
                dataJson: cityData,
                renderMode: true,
                search: true,
                linkage: true
            });

            //原生城市-无联动
            var select = $('.city-picker-select').cityPicker({
                dataJson: cityData,
                renderMode: false,
                linkage: false
            });


        });
    </script>
</div>