<div class="container-fluid zisebj">
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-10 col-md-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 bjzise">
                        <h2 class="text-center fcolbs1">安徽老年开放大学</h2>
                        <h2 class="text-center fcolbs">安徽老年开放大学</h2>
                        <h2 class="text-center fcolbs">安徽老年开放大学</h2>
                        <h2 class="text-center fcolbs">安徽老年开放大学</h2>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 bjbaise">
                        <div class="mar80">
                            <div class="shuruk">
                                <img src="/img/用户名.png" alt="">
                                <input class="neiys" type="text" placeholder="请输入用户名">
                            </div>
                            <div class="shuruk">
                                <img src="/img/密码.png" alt="">
                                <input class="neiys" type="text" placeholder="请输入密码">
                            </div>
                            <div class="shuruk">
                                <img src="/img/密码.png" alt="">
                                <input class="neiys" type="text" placeholder="请再次输入密码">
                            </div>
                            <div class="shuruk">
                                <img src="/img/邮箱.png" alt="">
                                <input class="neiys" type="text" placeholder="请输入您的电子邮箱(选填)">
                            </div>
                            <div class="shuruk1">
                                <div class="checkboxall">
                                    <div> <input type="checkbox" checked="checked" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label></div>
                                    <div class="jizhuty"> 同意老年开放大学《注册条款》</div>
                                </div>

                                <div class="zhuce"><a href="register.html">已有账号</a></div>
                            </div>
                        </div>
                        <a class="denglus" href="">同意协议并注册</a>
                        <div class="disanf">
                            <img src="/img/dl.jpg" alt="">
                        </div>
                        <div class="flqq">
                            <div class="leftimg"><a href=""><img src="/img/QQ.png" alt=""></a> </div>
                            <div><a href=""> <img src="/img/wechat.png" alt=""></a></div>
                            <div class="rightimg"><a href=""><img src="/img/weibo1.png" alt=""></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>
    </div>
</div>