<style>
    .resource-list-page .cate-list b {
        float: left;
    }

    .resource-list-page .cate-list ul {
        margin-left: 60px;
    }

    .resource-list-page .cate-list li {
        float: left;
        margin-right: 5px;
    }

    .resource-list-page .cate-list li.active a {
        font-size: 1.4em;
        color: #39ABEF;
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        display: block;
    }

    .resource-list-page .second-cate {
        padding: 15px 20px;
        background-color: #f5f5f5;
    }

    .resource-list-page .icon-preview {
        display: block;
        width: 64px;
        height: 24px;
        background: url('/public/img/icon_filter2.png') no-repeat center;
        cursor: pointer;
        float: right;
        margin: 10px 0 0 10px;
    }

    .resource-list-page .icon-preview.active {
        background-image: url('/public/img/icon_filter1.png');
    }

    .resource-list-page .box {
        margin-bottom: 10px;
        height: 290px;
    }

    .resource-list-page .box a:hover,
    .resource-list-page .box:focus {
        text-decoration: none;
        color: initial;
    }

    .resource-list-page .box:hover,
    .resource-list-page .box:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }

    .resource-list-page .head {
        height: 180px;
        position: relative;
    }

    .resource-list-page .icon-play {
        position: absolute;
        left: 50%;
        margin-left: -25px;
        width: 58px;
        height: 58px;
        top: 40px;
        opacity: .7;
        z-index: 9;
        background: url('/public/img/icon_play.png') no-repeat center;
    }

    .resource-list-page .box:hover .icon-play {
        opacity: 1;
    }

    .resource-list-page .info-bg {
        position: absolute;
        padding: 120px 10px 0 10px;
        text-align: center;
        color: #fff;
        opacity: 0;
        background-color: rgba(0, 0, 0, .3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

    .resource-list-page .box:hover .info-bg {
        opacity: 1;
    }

    .resource-list-page .box .info {
        display: none;
    }

    .resource-list-page .box:hover .info {
        display: block;
    }

    .resource-list-page .foot {
        padding: 10px;
    }

    .resource-list-page .list .inline li {
        float: left;
        margin-right: 30px;
    }

    .resource-list-page .list>li.row {
        height: 152px;
        margin-bottom: 20px;
    }

    .resource-list-page .list>li.row img.img-responsive {
        height: 152px;
    }
</style>
<div class="resource-list-page">
    <div class="cate-list mb">
        <b>类别：</b>
        <ul class="first-cate clearfix">
            <li class="active">
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
        <ul class="second-cate clearfix">
            <li>
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
    </div>
    <div class="cate-list mb">
        <b>按兴趣：</b>
        <ul class="first-cate clearfix">
            <li class="active">
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
        <ul class="second-cate clearfix" style="display: none">
            <li>
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
    </div>
    <div class="cate-list mb">
        <b>按类型：</b>
        <ul class="first-cate clearfix">
            <li class="active">
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
        <ul class="second-cate clearfix" style="display: none">
            <li>
                <a href="javascript:;">全部</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
            <li>|</li>
            <li>
                <a href="javascript:;">公民素养</a>
            </li>
        </ul>
    </div>
    <div class="tags-title clearfix app-mb20">
        <a href="javascript:;" class="active">发布时间</a>
        <a href="javascript:;">学习人数</a>
        <a href="javascript:;">学习积分</a>
        <div class="pull-right text-muted">
            共有资源
            <span class="text-primary">23</span>条
            <span class="icon-preview"></span>
        </div>
    </div>
    <div class="preview-content">
        <div class="preview row">
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box transition">
                    <a href="">
                        <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                            <div class="text-muted clearfix info-bg transition">
                                <p>观看人数：111</p>
                            </div>
                            <div class="icon-play"></div>
                        </div>
                        <div class="foot">
                            <h4>被唤醒的公民权利意识</h4>
                            <ul class="text-muted info">
                                <li>2018/10/20 15:10</li>
                                <li>积分：
                                    <span class="text-primary">111</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="preview" style="display: none">
            <ul class="list">
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="" class="normal">
                            <img src="../../../public/pic/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h4 class="app-elip">
                            <a href="">标题标题标题标题标题标题标题标题标题标题标题</a>
                        </h4>
                        <ul class="text-muted small clearfix inline app-mb10">
                            <li>作者：张校长</li>
                            <li>发布时间：2018/8/9</li>
                        </ul>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <ul class="text-muted clearfix inline">
                            <li>观看人数：11</li>
                            <li>积分：1. 9</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    // 筛选
    $('.first-cate a').click(function () {
        var _this = $(this)
        $('.second-cate').hide()
        _this.closest('.first-cate').next('.second-cate').show()
        $('.cate-list li').removeClass('active')
        _this.parent().addClass('active')
    })

    // 视图
    $('.resource-list-page .icon-preview').click(function () {
        $(this).toggleClass('active')
        $('.preview').hide().eq($(this).hasClass('active') ? 1 : 0).show()
    })

    // 分类
    $('.tags-title a').click(function () {
        $('.tags-title a').removeClass('active')
        $(this).addClass('active')
    })
</script>