<div class="container-fluid bjtpop">
    <div class="container">
            <!--<div class="dlzc">
            <div class="pull-right"><a href="">登录</a></div>
            <div class="pull-right ysping">|</div>
            <div class="pull-right"><a href="">注册</a></div>
         </div>-->
            <div class="dlzc">
                <div class="pull-left lojuz">
                    <img class="img-responsive" src="/img/logo.png" alt=""/>
                </div>

                <div class="pull-right zs">
                    <a href="">退出</a>
                </div>
                <div class="pull-right ysping">|</div>
                <div class="pull-right zs">
                    <a href="">个人中心</a>
                </div>
                <div class="pull-right gr">
                    <img src="/img/geren.png" alt=""/>
                </div>
                <div class="pull-right zsh">
                    欢迎您登录，小杨！
                </div>

            </div>
            <div class="fix"></div>
            <div class="pull-right flex">
                <input type="text" placeholder="资讯、课程、活动、小组">
                <div class="fdj">
                    <img src="/img/fdj.png" alt="">
                </div>
            </div>

    </div>
</div>