<div class="col-xs-12 col-sm-3 col-md-3">
    <div class="back-hei">
        <div class="touxiang"><img class="img-responsive img-circle center-block" src="/img/4.jpg" alt=""/>
            <div class="zhankai">
                <img  src="/img/shouqi.png" alt=""/>
            </div>
        </div>

        <h4 class="names">赵海涛</h4>
        <h5 class="yonghu">
            用户名：赵海涛
        </h5>
        <div class="dengji">
            用户等级：<span>秀才</span>
        </div>
        <div class="wodeall">
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon01.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的班级</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon02.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的资源学习</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon03.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的选课</a>
                    </div>
                </div>
            </div>
            <div class="liebactive">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon04.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的证书</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon05.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的积分</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon06.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的学分</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="wode">
                    <div class="wode1">
                        <img class="" src="/img/icon07.png" alt=""/>
                    </div>
                    <div class="wode2">
                        <a href="">我的学习小组</a>
                    </div>
                </div>
            </div>
            <div class="djxial">
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon08.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">我的活动</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon09.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">我的订单</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon010.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">我的上传</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon011.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">才艺与经验</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon012.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">我的关注</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon013.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">我的收藏</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="wode">
                        <div class="wode1">
                            <img class="" src="/img/icon014.png" alt=""/>
                        </div>
                        <div class="wode2">
                            <a href="">个人资料</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>

        $('.liebactive').prev().children('.wode').css('border-bottom', '0');

        $(document).ready(function () {
            $('.djxial').css('display', 'none');
            $(".back-hei").hover(function () {

                $('.djxial').fadeIn("slow");
            }, function () {

                $(".djxial").fadeOut("slow");
            });
        });
    </script>
</div>
