<style>
    .sgdetail-jy-page .box {
        margin-bottom: 10px;
        height: 270px;
    }

    .sgdetail-jy-page .box a:hover,
    .sgdetail-jy-page .box a:focus {
        text-decoration: none;
        color: initial;
    }

    .sgdetail-jy-page .box:hover,
    .sgdetail-jy-page .box:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }

    .sgdetail-jy-page .head {
        height: 180px;
        position: relative;
    }

    .sgdetail-jy-page .info-bg {
        position: absolute;
        padding: 50px 10px 0 10px;
        text-align: center;
        color: #fff;
        opacity: 0;
        background-color: rgba(0, 0, 0, .3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

    .sgdetail-jy-page .box:hover .info-bg {
        opacity: 1;
    }

    .sgdetail-jy-page .foot {
        padding: 10px;
    }
</style>
<div class="sgdetail-jy-page">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>浏览：111</p>
                            <p>点赞：111</p>
                            <p>评论：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    // 票数
    $('.poll').click(function () {
        var icon = $(this).find('.glyphicon')
        if (icon.hasClass('glyphicon-arrow-up')) {
            icon.removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down')
        } else {
            icon.removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
        }
    })
    $('.filter-box').on('click', 'a:not(.active)', function () {
        $('.filter-box a.active').removeClass('active')
        $(this).addClass('active')
    })
</script>