<style>
    .sgdetail-base-block .detail h4 {
        line-height: 1.8em;
    }

    .sgdetail-base-block .detail li {
        color: #777;
    }

    .sgdetail-base-block .detail ul {
        margin-bottom: 12px;
    }

    .sgdetail-base-block .detail ul.inline li {
        float: left;
        margin-right: 40px;
    }

    .sgdetail-base-block .bortop {
        border-top: 1px dashed #ddd;
        padding-top: 10px;
    }

    .sgdetail-base-block .btn-groups .btn {
        border-radius: 30px;
        min-width: 130px;
        margin-right: 20px;
    }
</style>
<div class="sgdetail-base-block app-mb20">
    <div class="row detail">
        <div class="col-xs-4">
            <img src="../../../public/pic/1.jpg" alt="说明" class="img-responsive">
        </div>
        <div class="col-xs-8">
            <h4>
                标题标题标题标题标题标题标题标题标题标题标题标题标题标
                <div class="pull-right btn-group">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    </button>
                </div>
            </h4>
            <ul>
                <li>分类：哈哈哈</li>
                <li>QQ群：225225</li>
                <li>创建人：张校长</li>
                <li>创建时间：2018/06/21</li>
            </ul>
            <ul class="clearfix inline bortop">
                <li class="data-icon data-icon-bm">参加人数：22222</li>
                <li class="data-icon data-icon-sc">收藏人数：22222</li>
            </ul>
            <div class="clearfix btn-groups">
                <a href="" class="btn btn-warning btn-lg">报名</a>
            </div>
        </div>
    </div>
</div>