<div class="container">
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 class="text-center mar50">江南古城-最封楼</h3>
            <div class="flexs">
                <div class="huise">作者：陈良东</div>
                <div class="huise">所属：摄影</div>
                <div class="huise">上传时间2018/07/07</div>
                <div class="huise">标签：古镇 梦里水乡</div>
            </div>
            <div class="slide-container" onmouseenter="pInterval()" onmouseleave="cInterval()">
                <!-- 轮播组件  最后一个不用加right-out类-->
                <div class="slide right-out">
                    <img src="/img/3.jpg" class="slide-img">
                    <div class='slide-dec'>这里放说明 0</div>
                </div>
                <div class="slide right-out">
                    <img src="/img/4.jpg" class="slide-img">
                    <div class='slide-dec'>这里放说明 1</div>
                </div>
                <div class="slide right-out">
                    <img src="/img/3.jpg" class="slide-img">
                    <div class='slide-dec'>这里放说明 2</div>
                </div>
                <div class="slide right-out">
                    <img src="/img/3.jpg" class="slide-img">
                    <div class='slide-dec'>这里放说明 3</div>
                </div>
                <div class="slide">
                    <img src="/img/4.jpg" class="slide-img">
                    <div class='slide-dec'>这里放说明这里放说明4</div>
                </div>
                <!-- 导航点 -->
                <div id="slide-tabs"></div>
            </div>
            <!-- 轮播结束 -->
            <a class="zuobian hidden-xs" href="javascript:void(0);" onclick="slide_last()"><img src="/img/left-circle-fill.png" alt=""/></a>
            <a class="youbian hidden-xs" href="javascript:void(0);" onclick="slide_next()"><img src="/img/right-circle-fill.png" alt=""/></a>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="slick">
                <div><a href=""><img src="/img/4.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/3.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/4.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/3.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/4.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/3.jpg" alt=""></a></div>
                <div><a href=""><img src="/img/4.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="shoucang">
                <div class="zan3"><span>448</span>次评论</div>
            </div>
            <div class="shoucang">
                <div class="zan3"><span>778</span>次浏览</div>
            </div>
            <div class="shoucang">
                <div class="zan1"><a href=""><img src="/img/shoucang01.png" alt=""></a></div>
                <div class="zan2">收藏</div>
                <div class="zan3">(<span>888</span>)</div>
            </div>
            <div class="shoucang">
                <div class="zan1"><a href=""><img src="/img/dianzan01.png" alt=""></a></div>
                <div class="zan2">赞</div>
                <div class="zan3">(<span>888</span>)</div>
            </div>
        </div>
    </div>
</div>


        <div class="guding">
            <div class="dgimg"><a href=""><img src="/img/kongjian.png" alt=""></a></div>
            <div class="dgimg"><a href=""><img src="/img/weibo.png" alt=""></a></div>
            <div class="dgimg"><a href=""><img src="/img/weixin.png" alt=""></a></div>
        </div>
