<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="plbt">评论
                <small>为维护健康文明的学习氛围，请不要发表具有谩骂、诽谤、广告、宣传等内的的评论</small>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="我来说两句吧……（内容不超过200字）"></textarea>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="fabucon" href="">发布</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="allpl">全部评论（2条）</div>
        </div>
    </div>
    <div class="">
        <div class="xiaxianal">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="paishe">
                    <div class="tupian1">
                        <img class="img-responsive img-circle" src="/img/3.jpg" alt="">
                    </div>
                    <div class="tupian2">
                        <div class="plname1">姚露</div>
                        <div class="plname2">拍的真难看啊，简直惨不忍睹啊！！！！！</div>
                        <div class="plname1">30分钟前</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="haop">
                    <div class="zhishu">好评指数：</div>
                    <div class="xing5"></div>
                </div>
            </div>
        </div>
        <div class="xiaxianal">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="paishe">
                    <div class="tupian1">
                        <img class="img-responsive img-circle" src="/img/3.jpg" alt="">
                    </div>
                    <div class="tupian2">
                        <div class="plname1">姚露</div>
                        <div class="plname2">拍的真难看啊，简直惨不忍睹啊！！！！！</div>
                        <div class="plname1">30分钟前</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="haop">
                    <div class="zhishu">好评指数：</div>
                    <div class="xing4"></div>
                </div>
            </div>
        </div>
    </div>
</div>