{{pagedata.totalData.Showbarlist.catId}}
{{pagedata.totalData.Showbarlist.createDate}}
<div class="container">
        <div class="Show-bar-list">
            <a href="" class="cayi huisebj">
                <img src="/img/sheying.png" alt=""/>
                <div>摄影</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/shougong.png" alt=""/>
                <div>手工</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/penren.png" alt=""/>
                <div>烹饪</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/shuhua.png" alt=""/>
                <div>书画</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/wenxue.png" alt=""/>
                <div>文学</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/biaoyan.png" alt=""/>
                <div>表演</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/yundong.png" alt=""/>
                <div>运动</div>
            </a>
            <a href="" class="cayi">
                <img src="/img/qita.png" alt=""/>
                <div>其他</div>
            </a>
        </div>

    <a href="" class="caiyixiu">才艺秀
        <img src="/img/addicon.png" alt="">
    </a>
</div>