<div class="col-xs-12 col-sm-8 col-md-4">
    <div class="xinwen">
        <div class="pull-left xinwen1">学习小组</div>
        <div class="pull-right"><a href=""><img src="/img/2.jpg" alt=""></a></div>
    </div>
    <div class="xwxq">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="slick">
                    <div class="waibu"><a href=""><img src="/img/9.jpg" alt=""></a>
                        <div class="xiabu">
                            <div class="weiqi">围棋爱好者</div>
                            <a class="jiaru" href="">加入小组</a>

                        </div>
                    </div>
                    <div class="waibu"><a href=""><img src="/img/9.jpg" alt=""></a>
                        <div class="xiabu">
                            <div class="weiqi">围棋爱好者</div>
                            <a class="jiaru" href="">加入小组</a>

                        </div>
                    </div>
                    <div class="waibu"><a href=""><img src="/img/9.jpg" alt=""></a>
                        <div class="xiabu">
                            <div class="weiqi">围棋爱好者</div>
                            <a class="jiaru" href="">加入小组</a>

                        </div>
                    </div>
                    <div class="waibu"><a href=""><img src="/img/9.jpg" alt=""></a>
                        <div class="xiabu">
                            <div class="weiqi">围棋爱好者</div>
                            <a class="jiaru" href="">加入小组</a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.slick').slick({
            dots: false,

        });
    });

</script>