<script src="/js/bootstrap-fileinput.js"></script>
<div class="container">
    <div class="row">
        <div class="row mar50">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 text-right linhei">
                经验主题:
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="风景拍摄技巧">
            </div>
            <div class="col-xs-0 col-sm-5 col-md-5 zifu">

            </div>
        </div>
        <div class="row mar50">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 text-right linhei">
                经验分类:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 ">
                <select id="province">
                    <option>摄影</option>
                    <option>绘画</option>
                    <option>旅游</option>
                </select>
            </div>
        </div>
        <div class="row mar50">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 text-right linhei">
                经验封面:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                    <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                        <!--<div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">-->
                        <!--<img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="/img/bb2.jpg" alt="" />-->
                        <!--</div>-->
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px;margin-bottom: 15px; max-height: 150px;"></div>
                        <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择封面</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                        </span>
                            <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                        </div>
                    </div>
                </div>
                <!--<button type="button" id="uploadSubmit" class="btn btn-info">提交</button>-->

            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>
        <div class="row mar50">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 text-right xuezz">
                经验内容:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <textarea id="editor_id" name="content" style="width:100%;height:370px;"></textarea>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>
        <script charset="utf-8" src="/kindeditor/kindeditor-all.js"></script>
        <script charset="utf-8" src="/kindeditor/lang/zh-CN.js"></script>
        <script>
            KindEditor.ready(function (K) {
                window.editor = K.create('#editor_id');
            });

        </script>
        <div class="row mar50 hei40">
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 text-right xuezzaa">
                是否同步到学习小组:
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 dif">
                <div class="radio">
                    <input type="radio" name="radio1" id="radio1" value="option1" checked>
                    <label for="radio1">
                        是
                    </label>
                </div>
                <div class="radio" style="margin-left: 60px">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2">
                        否
                    </label>
                </div>
                <div class="xxxj">
                    <a href="">添加到学习小组……</a>
                </div>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="shey">111</div>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="xuznze">
                    <div class="quanxuan">
                        <div class="checkbox checkbox-circle">
                            <input id="checkbox7" class="styled" type="checkbox">
                            <label for="checkbox7">
                                全选
                            </label>
                        </div>

                        <div class="qds">
                            <a href="">确定</a>
                        </div>
                    </div>
                    <div class="disfll">
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox21" class="styled" type="checkbox" >
                            <label for="checkbox21">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox22" class="styled" type="checkbox" checked>
                            <label for="checkbox22">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox23" class="styled" type="checkbox" checked>
                            <label for="checkbox23">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox24" class="styled" type="checkbox">
                            <label for="checkbox24">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox25" class="styled" type="checkbox" checked>
                            <label for="checkbox25">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox26" class="styled" type="checkbox" >
                            <label for="checkbox26">
                                摄影爱好者联盟
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary ">
                            <input id="checkbox25" class="styled" type="checkbox" checked>
                            <label for="checkbox25">
                                摄影爱好者联盟
                            </label>
                        </div>
                    </div>
                </div>
                <a class="tjj" href="">提交经验</a>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
        </div>



        <script>
            $(function () {
                //比较简洁，细节可自行完善
                $('#uploadSubmit').click(function () {
                    var data = new FormData($('#uploadForm')[0]);
                    $.ajax({
                        url: 'xxx/xxx',
                        type: 'POST',
                        data: data,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            console.log(data);
                            if (data.status) {
                                console.log('upload success');
                            } else {
                                console.log(data.message);
                            }
                        },
                        error: function (data) {
                            console.log(data.status);
                        }
                    });
                });

            })

        </script>
    </div>
</div>