
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <img class="img-responsive" src="/img/1520933709450_02_02.jpg" alt=""/>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="bbiaoti">
                <h3>老年开放大学简介</h3>
                <div class="text-center zixun">
                    咨询电话：0551-6666666 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 咨询QQ：1728212178
                </div>
            </div>
            <div class="neirong">
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
                <p>　喧嚣的红尘，轮回不息，惟寻一份恬淡安暖于心中，留一杯清茶，去品味这大千江河的钟灵毓秀。曾经笔墨浓重，一点一点的晕染，花谢花开，染遍四季轮轴；曾经，素色芳华，总喜欢踩着你的韵脚，一声一地落。今昔，流年往事，遗落在风中，伴着流转的山水，谱就成一曲岁月的婉唱，静默的，如一泓清泉，映着晓月楼台。于是，久违的一份诉请，落于心上，也洋溢在这个初夏的午后。
                </p>
            </div>

        </div>
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
    </div>
</div>
