<style>
    .act-detail-desc-block {
        line-height: 2.2em;
        text-indent: 2em;
        color: #666;
        margin-bottom: 30px;
    }
</style>
<div class="act-detail-desc-block">
    合肥作为长三角国际级城市群副中心,在长三角地区是一个后发城市,也是高成长性城市。
    <br>"十二五"以来,合肥的主要经济指标增速持续保持2位数增长,位居省会城市前列,领跑长三角中心城市。
    <br>合肥传承江淮地域文化,彰显现代创新文化,又培育巢湖特色文化,学习型城市的建设又创造了合肥独特的城市文化内涵。
    <br>合肥市作为全国学习型联盟城市,涌现出了一批国家和省级示范县区、示范街道、示范乡镇成技校及学习型家庭和学习之星,有力提升了合肥的社会文明风尚和城市文明气质。
    <br>1Ep-R藤E2014年12月"合肥社区大学"的挂牌及"合肥终身学习网"的上线更是有力地推动了我市终身教育体系的构建和学习型城市的进程。
    <br>"人人皆学、时时能学、处处可学"的理念随着广大市民的多样化学习活动走进社区,深入每家每户,在优质的数字化学习资源和丰富多彩的社区教育活动中,市民学习的热情被激发,一个个学习之星、学习型家庭、学习型社区正逐步把终身学习作为人生态度和生活追求。
    <br>未来，我们会不断实践、不断探索、不断创新,以点带线,以线促面使广大市民在学习中找到幸福,并主动融入学习型城市、书香合肥建设中,同心协力推进"乐居、宜业、尚学"的幸福合肥建设!
</div>