<style>
    .activity-state-zp-page .box {
        margin-bottom: 10px;
        height: 310px;
    }

    .activity-state-zp-page .box:hover,
    .activity-state-zp-page .box:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }

    .activity-state-zp-page .head {
        height: 180px;
        position: relative;
    }

    .activity-state-zp-page .info-bg {
        position: absolute;
        padding: 60px 10px;
        text-align: center;
        color: #fff;
        opacity: 0;
        background-color: rgba(0, 0, 0, .3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

    .activity-state-zp-page .btn-box {
        display: none;
    }

    .activity-state-zp-page .box:hover .info-bg {
        opacity: 1;
    }

    .activity-state-zp-page .box:hover .info {
        display: none;
    }

    .activity-state-zp-page .box:hover .btn-box {
        display: block;
    }

    .activity-state-zp-page .box:hover h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .activity-state-zp-page .foot {
        padding: 10px;
    }

    .activity-state-zp-page .box a:hover,
    .activity-state-zp-page .box:focus {
        text-decoration: none;
        color: initial;
    }

    .activity-state-zp-page .filter form {
        max-width: 500px;
    }

    .activity-state-zp-page .filter .text-right {
        margin: 15px 0;
    }

    .activity-state-zp-page .filter a {
        margin-left: 15px;
    }

    .activity-state-zp-page .filter a.active {
        color: #39ABEF;
    }

    .activity-state-zp-page .filter a:hover,
    .activity-state-zp-page .filter a:focus {
        text-decoration: none;
    }

    .activity-state-zp-page .filter .glyphicon {
        font-size: .8em;
        transform: translateX(-4px)
    }
</style>
<div class="activity-state-zp-page">
    <div class="filter seek app-mb20 row">
        <div class="col-sm-6">
            <form action="" method="post">
                <div class="input-group">
                    <input type="search" placeholder="资讯、课程、活动、小组" class="form-control" autofocus="">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning">搜索</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-right filter-box">
            <span>排序：</span>
            <a href="javascript:;" class="text-muted">综合</a>
            <a href="javascript:;" class="text-muted poll active">票数
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
            <a href="javascript:;" class="text-muted">最新</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box transition">
                <a href="">
                    <div class="head app-cover" style="background-image: url('/public/pic/1.jpg')">
                        <div class="text-muted clearfix info-bg transition">
                            <p>作者：啊啊啊</p>
                            <p>票数：111</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h4>编号：101010</h4>
                        <p class="text-muted clearfix info">
                            <span class="pull-left">作者：啊啊啊</span>
                            <span class="pull-right">票数：
                                <span class="text-primary">111</span>
                            </span>
                        </p>
                        <div class="btn-box text-center">
                            <button class="btn btn-warning btn-lg btn-circle">投票</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    // 票数
    $('.poll').click(function () {
        var icon = $(this).find('.glyphicon')
        if (icon.hasClass('glyphicon-arrow-up')) {
            icon.removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down')
        } else {
            icon.removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
        }
    })
    $('.filter-box').on('click', 'a:not(.active)', function () {
        $('.filter-box a.active').removeClass('active')
        $(this).addClass('active')
    })
</script>