<div class="activity-state-news-rec-block recommend-box">
    <div class="tag-title clearfix">
        <span class="active">最新活动</span>
    </div>
    <ul>
        <li class="app-cover transition" style="background-image: url('/public/pic/1.jpg')">
            <a href="">
                <div class="tit app-elip">标题标题标题标题标题标题标题标题标题标题标题</div>
                <div class="bg transition">
                    <p>报名人数：111</p>
                    <p>收藏人数：222</p>
                </div>
            </a>
        </li>
        <li class="app-cover transition" style="background-image: url('/public/pic/1.jpg')">
            <a href="">
                <div class="tit app-elip">标题标题标题标题标题标题标题标题标题标题标题</div>
                <div class="bg transition">
                    <p>报名人数：111</p>
                    <p>收藏人数：222</p>
                </div>
            </a>
        </li>
        <li class="app-cover transition" style="background-image: url('/public/pic/1.jpg')">
            <a href="">
                <div class="tit app-elip">标题标题标题标题标题标题标题标题标题标题标题</div>
                <div class="bg transition">
                    <p>报名人数：111</p>
                    <p>收藏人数：222</p>
                </div>
            </a>
        </li>
        <li class="app-cover transition" style="background-image: url('/public/pic/1.jpg')">
            <a href="">
                <div class="tit app-elip">标题标题标题标题标题标题标题标题标题标题标题</div>
                <div class="bg transition">
                    <p>报名人数：111</p>
                    <p>收藏人数：222</p>
                </div>
            </a>
        </li>
    </ul>
</div>