<style>
    .activity-state-dyn-block ul {
        background-color: #fafafa;
        padding: 20px;
    }

    .activity-state-dyn-block li {
        margin-bottom: 20px;
    }

    .activity-state-dyn-block li:last-child {
        margin-bottom: 0;
    }

    .activity-state-dyn-block .head {
        width: 50px;
        height: 50px;
        float: left;
        display: block;
        border-radius: 50%;
    }

    .activity-state-dyn-block .con {
        margin-left: 65px;
    }
</style>
<div class="activity-state-dyn-block">
    <div class="tag-title clearfix">
        <span class="active">活动动态</span>
    </div>
    <ul>
        <li>
            <a href="" class="head app-cover" style="background-image: url('/public/pic/1.jpg')"></a>
            <div class="con">
                <p>
                    <a href="">用户名</a>
                    <span class="text-primary">报名</span>
                    了该活动
                </p>
                <div class="text-muted">2018/7/8 20:20</div>
            </div>
        </li>
        <li>
            <a href="" class="head app-cover" style="background-image: url('/public/pic/1.jpg')"></a>
            <div class="con">
                <p>
                    <a href="">用户名</a>
                    <span class="text-primary">报名</span>
                    了该活动
                </p>
                <div class="text-muted">2018/7/8 20:20</div>
            </div>
        </li>
        <li>
            <a href="" class="head app-cover" style="background-image: url('/public/pic/1.jpg')"></a>
            <div class="con">
                <p>
                    <a href="">用户名</a>
                    <span class="text-primary">报名</span>
                    了该活动
                </p>
                <div class="text-muted">2018/7/8 20:20</div>
            </div>
        </li>
    </ul>
</div>