{{set cdata=pagedata.totalData.actlistblock}}
<div class="col-xs-12 col-sm-8 col-md-8 margin40">
    <div class="xinwen">
        <div class="pull-left xinwen1">活动</div>
        <div class="pull-right"><a href=""><img src="/img/2.jpg" alt=""></a></div>
    </div>
    <div class="xwxq">
        <div class="row">
            {{each cdata.data}}
            <div class="col-xs-12 col-sm-4 col-md-4 hei240">
                <a href=""> <img class="img-responsive center-block img1" src="{{$value.actPhoto}}" alt=""></a>
                <h4 class="text-center">{{$value.actTitle}}</h4>
            </div>
            {{/each}}

        </div>
    </div>
</div>


