<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="flexall">
                <div>城市：</div>
                <div class="chengshi activecs"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
                <div class="chengshi"><a href="">合肥</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="Show-piece-list" id="Show-piece-list">
                <div class="pull-left huisexiaxia">
                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">进行中的</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">已结束的</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right flbm">
                    <div class="lanse"> 共有线下培训班 <span>18</span>个</div>
                    <div class="button1"><img class="pic1" src="/img/B1.png" alt=""></div>
                    <div class="button2"><img class="pic2" src="/img/A2.png" alt=""></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <!--第1部分-->
                                <div class="diyi block">
                                    <div class="row mar40">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <img class="img-responsive" id="pic1" src="/img/aa.jpg" alt="">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 xiaxuxian">
                                            <div class="laojiahuo">老年人太极拳培训</div>
                                            <div class="flbms">
                                                <div class="peixun1">培训时间：2018/06/06-2019/06/04</div>
                                                <a class="peixun2" href="">我要报名</a>
                                            </div>
                                            <div class="peixuntime">培训地点：安徽广播大学大学大学</div>
                                            <div class="peixuntimes">
                                                <div>培训方式：线下培训</div>
                                                <div>培训费用：9999元</div>
                                            </div>
                                            <div class="peixuntimes">
                                                <div>培训导师：姚露</div>
                                                <div>辅导老师：陈良东</div>
                                            </div>
                                            <div class="xiangxi">安徽广播大学大学大学安徽广播大广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学</div>
                                            <div class="peixuntimes" style="margin-bottom: 30px">
                                                <div>
                                                    <img id="pic2" src="/img/aa1.jpg" alt="">
                                                    报名人数：1999
                                                </div>
                                                <div>
                                                    <img id="pic2" src="/img/aa2.jpg" alt="">
                                                    收藏人数：666人
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mar40">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <img class="img-responsive" id="pic1" src="/img/aa.jpg" alt="">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 xiaxuxian">
                                            <div class="laojiahuo">老年人太极拳培训</div>
                                            <div class="flbms">
                                                <div class="peixun1">培训时间：2018/06/06-2019/06/04</div>
                                                <a class="peixun2" href="">我要报名</a>
                                            </div>
                                            <div class="peixuntime">培训地点：安徽广播大学大学大学</div>
                                            <div class="peixuntimes">
                                                <div>培训方式：线下培训</div>
                                                <div>培训费用：9999元</div>
                                            </div>
                                            <div class="peixuntimes">
                                                <div>培训导师：姚露</div>
                                                <div>辅导老师：陈良东</div>
                                            </div>
                                            <div class="xiangxi">安徽广播大学大学大学安徽广播大广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学</div>
                                            <div class="peixuntimes" style="margin-bottom: 30px">
                                                <div>
                                                    <img id="pic2" src="/img/aa1.jpg" alt="">
                                                    报名人数：1999
                                                </div>
                                                <div>
                                                    <img id="pic2" src="/img/aa2.jpg" alt="">
                                                    收藏人数：666人
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top3">
                                        <div class="flexc">
                                            <div class="yuanxia">
                                                <a href=""> 上页</a>
                                            </div>
                                            <div class="yuanxiaactive">
                                                <a href=""> 1</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 2</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 3</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 4</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 下页</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--第二部分-->
                                <div class="dier none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row margin-top3">
                                        <div class="flexc">
                                            <div class="yuanxia">
                                                <a href=""> 上页</a>
                                            </div>
                                            <div class="yuanxiaactive">
                                                <a href=""> 1</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 2</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 3</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 4</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 下页</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <!--第1部分-->
                                <div class="diyi block">
                                    <div class="row mar40">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <img class="img-responsive" id="pic1" src="/img/aa.jpg" alt="">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 xiaxuxian">
                                            <div class="laojiahuo">老年人太极拳培训</div>
                                            <div class="flbms">
                                                <div class="peixun1">培训时间：2018/06/06-2019/06/04</div>
                                                <a class="peixun2" href="">我要报名</a>
                                            </div>
                                            <div class="peixuntime">培训地点：安徽广播大学大学大学</div>
                                            <div class="peixuntimes">
                                                <div>培训方式：线下培训</div>
                                                <div>培训费用：9999元</div>
                                            </div>
                                            <div class="peixuntimes">
                                                <div>培训导师：姚露</div>
                                                <div>辅导老师：陈良东</div>
                                            </div>
                                            <div class="xiangxi">安徽广播大学大学大学安徽广播大广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学</div>
                                            <div class="peixuntimes" style="margin-bottom: 30px">
                                                <div>
                                                    <img id="pic2" src="/img/aa1.jpg" alt="">
                                                    报名人数：1999
                                                </div>
                                                <div>
                                                    <img id="pic2" src="/img/aa2.jpg" alt="">
                                                    收藏人数：666人
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mar40">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <img class="img-responsive" id="pic1" src="/img/aa.jpg" alt="">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 xiaxuxian">
                                            <div class="laojiahuo">老年人太极拳培训</div>
                                            <div class="flbms">
                                                <div class="peixun1">培训时间：2018/06/06-2019/06/04</div>
                                                <a class="peixun2" href="">我要报名</a>
                                            </div>
                                            <div class="peixuntime">培训地点：安徽广播大学大学大学</div>
                                            <div class="peixuntimes">
                                                <div>培训方式：线下培训</div>
                                                <div>培训费用：9999元</div>
                                            </div>
                                            <div class="peixuntimes">
                                                <div>培训导师：姚露</div>
                                                <div>辅导老师：陈良东</div>
                                            </div>
                                            <div class="xiangxi">安徽广播大学大学大学安徽广播大广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播广播大学大学大学安徽广播学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学安徽广播大学大学大学</div>
                                            <div class="peixuntimes" style="margin-bottom: 30px">
                                                <div>
                                                    <img id="pic2" src="/img/aa1.jpg" alt="">
                                                    报名人数：1999
                                                </div>
                                                <div>
                                                    <img id="pic2" src="/img/aa2.jpg" alt="">
                                                    收藏人数：666人
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top3">
                                        <div class="flexc">
                                            <div class="yuanxia">
                                                <a href=""> 上页</a>
                                            </div>
                                            <div class="yuanxiaactive">
                                                <a href=""> 1</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 2</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 3</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 4</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 下页</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--第二部分-->
                                <div class="dier none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="row mar40">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <img class="img-responsive" src="/img/bb.jpg" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8">
                                                    <div class="laojiahuo">老年人太极拳培训</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训时间：2018/06/06-2019/06/04</div>
                                                    <div class="peixuntime" style="margin-top: 5px">培训地点：安徽广播大学大学大学</div>
                                                    <div class="peixuntimes" style="margin-bottom: 15px">
                                                        <div>
                                                            <img id="pic2" src="/img/aa1.jpg" alt="">
                                                            报名人数：1999
                                                        </div>
                                                        <div>
                                                            <img id="pic2" src="/img/aa2.jpg" alt="">
                                                            收藏人数：666人
                                                        </div>
                                                    </div>
                                                    <a class="peixun2" href="">我要报名</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row margin-top3">
                                        <div class="flexc">
                                            <div class="yuanxia">
                                                <a href=""> 上页</a>
                                            </div>
                                            <div class="yuanxiaactive">
                                                <a href=""> 1</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 2</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 3</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 4</a>
                                            </div>
                                            <div class="yuanxia">
                                                <a href=""> 下页</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var button = $(".button1")[0];
    var picts = $(".pic1")[0];
    var button2 = $(".button2")[0];
    var picts2 = $(".pic2")[0];
    function change_pic() {
        button.onclick = function () {
            if (picts.getAttribute("src", 2) == "/img/B1.png") {
                picts.setAttribute("src", "/img/B2.png");
                $('.diyi').removeClass('block').addClass('none');
                $('.dier').removeClass('none').addClass('block');
                picts2.setAttribute("src", "/img/A1.png");
            } else {
                picts.setAttribute("src", "/img/B2.png");
                $('.diyi').removeClass('none').addClass('block');
                $('.dier').removeClass('block').addClass('none');
                picts2.setAttribute("src", "/img/A1.png");
            }
            ;
        }
    };
    change_pic();
    function change_pi() {
        button2.onclick = function () {
            if (picts2.getAttribute("src", 2) == "/img/A1.png") {
                picts2.setAttribute("src", "/img/A2.png");
                $('.diyi').removeClass('none').addClass('block');
                $('.dier').removeClass('block').addClass('none');
                picts.setAttribute("src", "/img/B1.png");
            } else {
                picts2.setAttribute("src", "/img/A2.png");
                $('.diyi').removeClass('block').addClass('none');
                $('.dier').removeClass('none').addClass('block');
                picts.setAttribute("src", "/img/A1.png");
            }
            ;
        }
    }
    ;
    change_pi();


</script>