<div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 text-center bjsh">
            班级名称
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center bjsh">
            加入时间
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center bjsh">
            状态
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称班级
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称班
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称班
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称班
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 yangsheng1">
            ▪健康大讲堂：称班级名称班级名称级名称班级
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng2">
            2018/07/08
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng3">
            学习中
        </div>
    </div>

    <div class="row margin-top3">
        <div class="flexc">
            <div class="yuanxia">
                <a href=""> 上页</a>
            </div>
            <div class="yuanxiaactive">
                <a href=""> 1</a>
            </div>
            <div class="yuanxia">
                <a href=""> 2</a>
            </div>
            <div class="yuanxia">
                <a href=""> 3</a>
            </div>
            <div class="yuanxia">
                <a href=""> 4</a>
            </div>
            <div class="yuanxia">
                <a href=""> 下页</a>
            </div>

        </div>
    </div>
</div>