<div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row margin-top3">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="pull-left flexzi">
                <input class="zixun" type="text" placeholder="资讯,课程">
                <div class="fdjzi">
                    <a href="">搜索</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="tab pull-right" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="shuanxuan">筛选：</li>
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">全部</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">进行中</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">已完成</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 text-center bjsh">
            名称
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 text-center bjsh">
            类型
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center bjsh">
            最新学习时间
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-center bjsh">
            状态
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名称级
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng3">
                        学习中
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名称
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng6">
                        已完成
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng6">
                        已完成
                    </div>
                </div>
                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名称
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng3">
                        学习中
                    </div>
                </div>

                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名称
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng3">
                        学习中
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 yangsheng1">
                        ▪健康大讲堂：称班级名称班级名称
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 text-center yangsheng1">
                        资源
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 text-center yangsheng2">
                        2018/07/08
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-center yangsheng6">
                        已完成
                    </div>
                </div>
                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






</div>