<div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row">
        <div class="margin-top3 xianhui">
            <div class="pull-left xianhui1">个人资料</div>
            <div class="pull-right xianhu2">
                <a href="">修改个人资料</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 margin-top3">
            <div class="touxiang1"><img class="img-responsive img-circle center-block" src="/img/4.jpg" alt=""/></div>
            <div class="text-center zihui">用户名：赵海涛</div>

        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 margin-top3">
            <div class="fltop">
                <img src="/img/geren.png" alt="">
                <div class="namelr">姓名：</div>
                <div>赵海涛</div>
            </div>
            <div class="fltop">
                <img src="/img/geren.png" alt="">
                <div class="namelr">性别：</div>
                <div>男</div>
            </div>
            <div class="fltop">
                <img src="/img/geren.png" alt="">
                <div class="namelr">所在区域：</div>
                <div>安徽省 合肥市 庐阳区</div>
            </div>
            <div class="fltop">
                <img src="/img/geren.png" alt="">
                <div class="namelr">联系电话：</div>
                <div>183266666666</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="zhanghu margin-top3">
            账户管理
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 flex margin-top3">
            <div class="yanzheng1">
                <img src="/img/A.png"/>
            </div>
            <div class="yanzheng2">
                <div class="shouji1">
                    <a href="">手机验证</a>
                </div>
                <div class="shouji2">
                    用户绑定：18326666666
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 flex margin-top3">
            <div class="yanzheng1">
                <img src="/img/B.png"/>
            </div>
            <div class="yanzheng2">
                <div class="shouji1">
                    <a href="">修改密码</a>
                </div>
                <div class="shouji2">
                    建筑以定义更改密码以保护账户安全
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 flex margin-top3">
            <div class="yanzheng1">
                <img src="/img/C.png"/>
            </div>
            <div class="yanzheng2 shiming">
                <a href="">实名认证</a>
            </div>
        </div>
    </div>
</div>