<style>
    .course-detail-chapter .video-box {
        min-height: 450px;
    }

    .course-detail-chapter .tool {
        line-height: 35px;
        padding-top: 5px;
    }

    .course-detail-chapter .mr {
        margin-right: 15px;
    }

    .course-detail-chapter .article {
        line-height: 2em;
    }

    .course-detail-chapter .catalog h4::before {
        content: '';
        float: left;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #dcbd5a;
        margin: 6px 5px 0 0;
    }

    .course-detail-chapter .dot {
        float: left;
        font-size: .3em;
        border: 2px solid #a8a8a8;
        color: #a8a8a8;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 16px;
        border-radius: 50%;
        margin-right: 5px;
        padding-left: 3px;
    }

    .course-detail-chapter .plan {
        width: 60px;
        background-color: #ddd;
        border-radius: 10px;
        position: relative;
        height: 5px;
        margin: 0 5px;
    }

    .course-detail-chapter .plan .done {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #39ABEF;
        border-radius: 10px;
    }

    .course-detail-chapter .list li {
        margin-bottom: 10px;
    }

    .course-detail-chapter .list li:last-child {
        margin-bottom: 0px;
    }

    .course-detail-chapter .list li:hover .dot {
        color: #dcbd5a;
        border-color: #dcbd5a;
    }
</style>
<div class="course-detail-chapter">
    <div class="row">
        <div class="col-sm-8">
            <div class="video-box">
                <video id="video" class="video-js" controls preload="auto" height="400" poster="m.jpg" data-setup="{}" style="width:100%">
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
                    <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
                <div class="text-muted clearfix tool">
                    <div class="pull-left">
                        <span class="mr">课程积分：4分</span>
                        <span>课程学分：4.5分</span>
                    </div>
                    <div class="pull-right">
                        <span class="mr">
                            <a href="javascript:;" class="normal dz glyphicon glyphicon-thumbs-up"></a>
                            点赞
                            <span class="text-primary">3</span>人
                        </span>
                        <div class="pull-right btn-group">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tag-title clearfix app-mb20">
                <span class="active">课程目录</span>
                <span>课程简介</span>
            </div>
            <div class="tag-content">
                <div class="catalog">
                    <h4>山水画作品赏析</h4>
                    <ul class="list">
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h4>山水画作品赏析</h4>
                    <ul class="list">
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h4>山水画作品赏析</h4>
                    <ul class="list">
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="pull-left l">
                                    <span class="dot glyphicon glyphicon-play"></span>山水画作品赏析
                                </div>
                                <div class="pull-right r">
                                    <div class="app-table">
                                        <div class="app-table-cell">32:05</div>
                                        <div class="app-table-cell">
                                            <div class="plan">
                                                <div class="done" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="app-table-cell">40%</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article" style="display: none">
                    <h4 class="text-primary">【山水画作品鉴赏】</h4>
                    <ul>
                        <li>
                            <span class="text-muted">讲课老师：</span>哈哈哈
                            <span class="pull-right">
                                <span class="text-muted">辅导老师：</span>呵呵呵
                            </span>
                        </li>
                        <li>
                            <span class="text-muted">学习积分：</span>111
                            <span class="pull-right">
                                <span class="text-muted">课程积分：</span>222
                            </span>
                        </li>
                        <li>
                            <span class="text-muted">课程时长：</span>111min
                            <span class="pull-right">
                                <span class="text-muted">学分条件：</span>学完课程
                            </span>
                        </li>
                        <li>
                            <span class="text-muted">课程有效期：</span>2018/2/3-2018/3/5
                        </li>
                        <li>
                            <span class="text-muted">课程类型：</span>培训课程
                        </li>
                    </ul>
                    <h4 class="text-primary app-mt20">课程介绍：</h4>
                    <p class="text-muted">区大学"的挂牌及"合肥终身学习网"的上线更是有力地推动了我市终身教育体系的构建和学习型城市的进程。
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    videojs("video")
    $('.course-detail-chapter .tag-title').on('click', 'span:not(.active)', function () {
        var _this = $(this)
        _this.closest('.tag-title').find('span.active').removeClass('active')
        _this.addClass('active')
        $('.course-detail-chapter .tag-content>div').hide()
        $('.course-detail-chapter .tag-content>div:eq(' + _this.index() + ')').show()
    })
</script>