<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="dongwu">
                教大家怎么画动物
            </div>
            <div class="suoshu">
                <div class="zuozhe">
                    作者：陈良东
                </div>
                <div class="zuozhe">
                    所属分类：书画
                </div>
                <div class="zuozhe">
                    上传时间：2018/05/13
                </div>
                <div class="zuozhe">
                    标签：收回 卡通，绘画
                </div>
            </div>
            <div class="wenzi">
                Bootstrap 利用 Autoprefixer 自动为 某些 CSS 属性添加针对特定厂商的前缀。如果你是从 Less/Sass 源码编译 Bootstrap 的，并且没有使用 Bootstrap 自带的 Gruntfile 文件，那你就必须将 Autoprefixer 集成到你的编译工具和编译过程中。如果你使用的是我们预先编译好的 Bootstrap 文件或者使用的是我们提供的 Gruntfile
                文件，那就无需操心了，我们已经将这些工作替你搞定了。
            </div>
            <div class="imgs">
                <img class="img-responsive" src="/img/1520933709450_02.jpg" alt="">
            </div>
            <div class="bootwenzi">
                Bootstrap 利用 Autoprefixer 自动为 某些 CSS 属性添加针对特定厂商的前缀。如果你是从 Less/Sass 源码编译 Bootstrap 的，并且没有使用 Bootstrap 自带的 Gruntfile 文件，那你就必须将 Autoprefixer 集成到你的编译工具和编译过程中。如果你使用的是我们预先编译好的 Bootstrap 文件或者使用的是我们提供的 Gruntfile
                文件，那就无需操心了，我们已经将这些工作替你搞定了。
            </div>
            <div class="bootwenzi">
                Bootstrap 利用 Autoprefixer 自动为 某些 CSS 属性添加针对特定厂商的前缀。如果你是从 Less/Sass 源码编译 Bootstrap 的，并且没有使用 Bootstrap 自带的 Gruntfile 文件，那你就必须将 Autoprefixer 集成到你的编译工具和编译过程中。如果你使用的是我们预先编译好的 Bootstrap 文件或者使用的是我们提供的 Gruntfile
                文件，那就无需操心了，我们已经将这些工作替你搞定了。
            </div>

            <div class="xiafanglt">
                <div class="liulan">
                    <img src="/img/dianzan01.png" alt="">
                    赞(<span>88</span>)
                </div>
                <div class="liulan">
                    <img src="/img/dianzan01.png" alt="">
                    赞(<span>88</span>)
                </div>
                <div class="liulan">
                    <span>3432</span>次浏览
                </div>
                <div class="liulan">
                    <span>3432</span>条评论
                </div>
            </div>

        </div>

    </div>
</div>