<div class="container">
    {{each pagedata.totalData.Showpiecelist}}
    {{$value.title}}
    {{/each}}
    <div class="Show-piece-list">
        <div class="pull-left huisexiaxia">
            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">最新</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">热门</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">好评</a></li>
                </ul>
            </div>
        </div>
        <div class="pull-right text-right huiseziti">
            共有才艺作品1212121条
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 ">
                        <a href="" class="mediaa">
                            <img class="media__image img-responsive" src="/img/3.jpg" alt=""/>
                            <div class="media__body">
                                <p class="xqxx1">浏览：122</p>
                                <p class="xqxx1">点赞：3222</p>
                                <p class="xqxx1">点评：122</p>
                            </div>
                        </a>
                        <div class="zuozhe">
                            <div class="zuozhe1">
                                家乡美景
                            </div>
                            <div class="zuozhe2">
                                作者：姚露
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row margin-top3">
                    <div class="flexc">
                        <div class="yuanxia">
                            <a href=""> 上页</a>
                        </div>
                        <div class="yuanxiaactive">
                            <a href=""> 1</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 2</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 3</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 4</a>
                        </div>
                        <div class="yuanxia">
                            <a href=""> 下页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>