{{set cdata=pagedata.totalData.newslistblockzcfg}}
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="xinwen">
            <div class="pull-left xinwen1">政策法规</div>
            <div class="pull-right"><a href=".morenew.html"><img src="/img/2.jpg" alt=""></a></div>
        </div>
        <div class="xwxq">
            {{each cdata.data}}
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 xwxq1">●</div>
                <div class="col-xs-8 col-sm-8 col-md-8 xwxq2"><a href="">{{$value.title}}</a></div>
                <div class="col-xs-3 col-sm-3 col-md-3 xwxq3">{{$value.updateDate}}</div>
            </div>
            {{/each}}
        </div>
    </div>