<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="zhengshu">
                <div class="zzname">
                    证书名称：<span>家庭教育素质证书</span>
                </div>
                <div class="shitime">
                    考核时间：<span>30分钟00秒</span> 共 <span>30</span>道题
                </div>
                <a class="kaishi" id="kaishi" href="javascript:void(0)">点击开始答题</a>
            </div>
            <div class="dati hidden" id="kaoshiym">
                <div class="zzname1">
                    证书名称：<span>家庭教育素质证书</span>
                </div>
                <div class="ksym">
                    <div class="datitop">【01】</div>
                    <div class="datitop">【02】</div>
                    <div class="datitop">【03】</div>
                    <div class="datitop">【04】</div>
                    <div class="datitop">【05】</div>
                    <div class="datitop">【06】</div>
                    <div class="datitop">【07】</div>
                    <div class="datitop">【08】</div>
                    <div class="datitop">【09】</div>
                    <div class="datitop">【01】</div>
                    <div class="datitop">【02】</div>
                    <div class="datitop">【03】</div>
                    <div class="datitop">【04】</div>
                    <div class="datitop">【05】</div>
                    <div class="datitop">【06】</div>
                    <div class="datitop">【07】</div>
                    <div class="datitop">【08】</div>
                    <div class="datitop">【09】</div>
                    <div class="datitop">【01】</div>
                    <div class="datitop">【02】</div>
                    <div class="datitop">【03】</div>
                    <div class="datitop">【04】</div>
                    <div class="datitop">【05】</div>
                    <div class="datitop">【06】</div>
                    <div class="datitop">【07】</div>
                    <div class="datitop">【08】</div>
                    <div class="datitop">【09】</div>
                </div>
                <div class="row">
                    <div class="col-xs-0 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="topdt">
                            第1题：（单选题） 以下哪种行为不是提倡的？
                        </div>
                        <div class="danxt">
                            <div class="datidx">
                                <div class="button-holder">
                                    <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio"/><label for="radio-1-1"></label>
                                </div>
                                <div class="wenti">
                                    A、早餐空腹喝牛奶
                                </div>
                            </div>
                            <div class="datidx">
                                <div class="button-holder">
                                    <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio"/><label for="radio-1-2"></label>
                                </div>
                                <div class="wenti">
                                    B、早餐空腹喝牛奶
                                </div>
                            </div>
                            <div class="datidx">
                                <div class="button-holder">
                                    <input type="radio" id="radio-1-3" name="radio-1-set" class="regular-radio"/><label for="radio-1-3"></label>
                                </div>
                                <div class="wenti">
                                    C、早餐空腹喝牛奶
                                </div>
                            </div>
                            <div class="datidx">
                                <div class="button-holder">
                                    <input type="radio" id="radio-1-4" name="radio-1-set" class="regular-radio"/><label for="radio-1-4"></label>
                                </div>
                                <div class="wenti">
                                    D、早餐空腹喝牛奶
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-xs-0 col-sm-2 col-md-2"></div>
                    <div class="col-xs-12 col-sm-8 col-md-8 flsida">
                        <div class="tishida">
                            答题生育时间：<span>23分41秒</span>
                        </div>
                        <div class="tishida">
                            共<span>30</span>道题
                        </div>
                        <div class="tishida">
                            已答题<span>10</span>道
                        </div>
                        <div class="tishida">
                            剩余答题<span>20</span>道
                        </div>
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-0 col-sm-3 col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-6 flsidas">
                        <a class="shangyiti" id="shangyiti" href="javascript:void(0)">上一题</a>
                        <a class="kaishis" id="queding" href="javascript:void(0)">确定并进入下一题</a>
                    </div>
                    <div class="col-xs-0 col-sm-3 col-md-3"></div>
                </div>
            </div>

        </div>

        <script>
            $('#kaishi').click(function () {
                $('.zhengshu').addClass('hidden');
                $('#kaoshiym').removeClass('hidden').addClass('show');

            });


        </script>
    </div>
</div>