<div class="container">
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="jindut">
                <div class="keduon">
                    <div class="zhonx"></div>
                    <div class="shuzi">1</div>
                    <div class="zhonx"></div>
                </div>
                <div class="kedu">
                    <div class="zhonx"></div>
                    <div class="shuzi">2</div>
                    <div class="zhonx"></div>
                </div>
                <div class="kedu">
                    <div class="zhonx"></div>
                    <div class="shuzi">3</div>
                    <div class="zhonx"></div>
                </div>
            </div>
            <div class="flxia">
                <div class="yzsfon">
                    验证身份
                </div>
                <div class="yzsf">
                    设置新密码
                </div>
                <div class="yzsf">
                    完成
                </div>
            </div>
            <!--验证身份-->
            <div id="shezhimima" class="show hei50">
                <div class="disflall">
                    <div class="yhm">用户名：</div>
                    <input type="text" class="inputys" placeholder="请输入您的用户名">
                </div>
                <div class="disflall">
                    <div class="yhm">您的姓名：</div>
                    <input type="text" class="inputys" placeholder="请输入您的真实名字">
                </div>
                <div class="disflall">
                    <div class="yhm">身份证号：</div>
                    <input type="text" class="inputys" placeholder="请输入您的身份证号码">
                </div>
                <div class="disflall">
                    <div class="yhm"></div>
                    <div class="msdl">
                        若无法验证请联系我们，<span>客服电话：3242342341</span>
                    </div>
                </div>
                <a class="tijiao" href="javascript:void(0);">提交</a>

            </div>
            <!--设置新密码-->
            <div id="yanzshenfen" class="hidden hei50">
                <div class="disflall">
                    <div class="yhm">输入新密码：</div>
                    <input type="text" class="inputys" placeholder="请输入您要设置的密码">
                </div>
                <div class="disflall">
                    <div class="yhm">再次输入新密码：</div>
                    <input type="text" class="inputys" placeholder="请再次输入您要设置的密码">
                </div>
                <a class="tijiao" href="javascript:void(0);">提交</a>
            </div>
            <!--完成-->
            <div id="wancheng" class="hidden hei50">
                恭喜您密码设置成功，<span>5秒</span>后将跳转至登录页面！<a href="">立即登录</a>
            </div>

        </div>
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
    </div>
    <script>
        $('#shezhimima').children('a').click(function () {
            $('#shezhimima').removeClass("show").addClass('hidden');
            $('#yanzshenfen').removeClass("hidden").addClass('show');
            $('.keduon').removeClass("keduon").addClass('kedu').next().removeClass("kedu").addClass('keduon');
            $('.yzsfon').removeClass("yzsfon").addClass('yzsf').next().removeClass("yzsf").addClass('yzsfon');
        });
        $('#yanzshenfen').children('a').click(function () {
            $('#yanzshenfen').removeClass("show").addClass('hidden');
            $('#wancheng').removeClass("hidden").addClass('show');
            $('.keduon').removeClass("keduon").addClass('kedu').next().removeClass("kedu").addClass('keduon');
            $('.yzsfon').removeClass("yzsfon").addClass('yzsf').next().removeClass("yzsf").addClass('yzsfon');
        });

    </script>
</div>










