<style>
    .sgcreate-block {
        padding: 0 20%;
    }

    .sgcreate-block .btn-box {
        float: left;
    }

    .sgcreate-block .btn-box .face-btn {
        display: block;
        width: 85px;
        height: 85px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        cursor: pointer;
        padding-top: 20px;
    }

    .sgcreate-block .btn-box .face-btn .glyphicon {
        font-size: 1.4em;
        color: #DCBD5A;
    }

    .sgcreate-block .btn-box .face-btn.active {
        background-color: #DCBD5A;
        color: #fff;
    }

    .sgcreate-block .btn-box .face-btn.active .glyphicon {
        color: #fff;
    }

    .sgcreate-block .view-box {
        margin-left: 100px;
        width: 250px;
        height: 185px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }

    .sgcreate-block .view {
        display: none;
        height: 100%;
    }

    .sgcreate-block .samp {
        padding: 20px;
    }

    .sgcreate-block .view:first-child {
        display: block;
    }

    @media (max-width: 767px) {
        .sgcreate-block {
            padding: 0 10px;
        }
    }
</style>
<div class="sgcreate-block">
    <form action="" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2">学习小组名称：</label>
            <div class="col-sm-10">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="学习小组名称">
                    <span class="text-muted">（由汉字、字母或数字组成，1-20个字符）</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">学习小组分类：</label>
            <div class="col-sm-10">
                <div style="padding-right: 50%">
                    <select name="" class="form-control">
                        <option value="1">娱乐</option>
                        <option value="1">娱乐</option>
                        <option value="1">娱乐</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">学习小组介绍：</label>
            <div class="col-sm-10">
                <div style="padding-right: 20%">
                    <textarea name="" cols="30" rows="5" placeholder="这里输入一段文字介绍（200字以内）" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">互动QQ群：</label>
            <div class="col-sm-10">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="互动QQ群">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">学习小组头像：</label>
            <div class="col-sm-10 text-center">
                <ul class="btn-box">
                    <li class="face-btn file-btn">
                        <div>
                            <span class="glyphicon glyphicon-open"></span>
                        </div>
                        <div>本地上传</div>
                        <input type="file" name="">
                    </li>
                    <li class="face-btn wx-btn">
                        <div>
                            <span class="glyphicon glyphicon-camera"></span>
                        </div>
                        <div>拍照上传</div>
                    </li>
                </ul>
                <div class="view-box">
                    <div class="view samp">
                        <p class="mb">头像预览</p>
                        <p class="text-muted">只支持JPG、PNG格式，图片大小不超过15M，建议尺寸320*240px</p>
                    </div>
                    <div class="view preview app-cover" id="preview"></div>
                    <div class="view wx">
                        <p class="app-mt10">拍照上传</p>
                        <img src="../../../public/pic/6.jpg" width="100" alt="二维码">
                        <p class="text-muted app-mt10">微信扫描二维码进行上传</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-mt20 mb text-center">
            <button class="btn btn-warning btn-lg btn-circle">创建</button>
        </div>
    </form>
</div>
<script>
    $('[type="file"]').change(function () {
        var file = this;
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                $("#preview").css('backgroundImage', 'url(' + evt.target.result + ')');
            }
            reader.readAsDataURL(file.files[0]);
        } else {
            $("#preview").html(
                '<div style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' +
                file.value + '\'"></div>');
        }
        $('.face-btn').removeClass('active')
        $('.view').hide()
        $("#preview").show()
    })
    $('.wx-btn').click(function () {
        $('.view').hide()
        $(".wx").show()
        $('.wx-btn').addClass('active')
    })
</script>