<style>
    .sgdetail-mems-page .box {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .sgdetail-mems-page .head {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        margin-right: 10px;
    }
</style>
<div class="sgdetail-mems-page">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="" class="box">
                <span class="app-cover head" style="background-image: url('/public/pic/4.jpg')"></span>
                张校长
            </a>
        </div>
    </div>
</div>