{{set data=pagedata.totalData.Showbarlist}}
<div class="container">
    <div class="Show-bar-list">
        {{each data.data}}
        <a href="" class="cayi huisebj">
            <img src="{{$value.phImgs}}" alt=""/>
            <div>{{$value.catName}}</div>
        </a>
        {{/each}}
    </div>
    <a href="/old/html/submissiontalent.html" class="caiyixiu">才艺秀
        <img src="/img/addicon.png" alt="">
    </a>
</div>
<script type="text/html" id="Showbarlist_p">
    {{set data=pagedata.totalData.Showbarlist}}
    <div class="Show-bar-list">
        {{each data.data}}
        <a href="" class="cayi huisebj">
            <img src="{{$value.phImgs}}" alt=""/>
            <div>{{$value.catName}}</div>
        </a>
        {{/each}}
    </div>
    <a href="/old/html/submissiontalent.html" class="caiyixiu">才艺秀
        <img src="/img/addicon.png" alt="">
    </a>
</script>