<div class="container">
    {{set data=pagedata.totalData.Showdetailsimageone}}
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 class="text-center mar50">{{data.data.abmName}}</h3>
            <div class="flexs">
                <div class="huise">作者：{{data.data.createBy}}</div>
                <div class="huise">所属：</div>
                <div class="huise">上传时间：{{data.data.createDate}}</div>
                <div class="huise">标签：</div>
            </div>
            <div class="slide-container" onmouseenter="pInterval()" onmouseleave="cInterval()">
                {{each data.data.photoList}}
                <div class="slide right-out">
                    <img src="{{$value.phImgs}}" class="slide-img">
                    <div class='slide-dec'>{{$value.phImgNames}}</div>
                </div>
                {{/each}}
                <!-- 导航点 -->
                <div id="slide-tabs"></div>
            </div>
            <!-- 轮播结束 -->
            <a class="zuobian hidden-xs" href="javascript:void(0);" onclick="slide_last()"><img
                    src="/img/left-circle-fill.png" alt=""/></a>
            <a class="youbian hidden-xs" href="javascript:void(0);" onclick="slide_next()"><img
                    src="/img/right-circle-fill.png" alt=""/></a>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="slick">
                {{each data.data.photoList}}
                <div><a href=""><img src="{{$value.phImgNames}}" alt=""></a></div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="interact">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="shoucang">
                <div class="zan3"><span> </span>次评论</div>
            </div>
            <div class="shoucang">
                <div class="zan3"><span> </span>次浏览</div>
            </div>
            <div class="shoucang">
                <div class="zan1"><a href="javascript:;"><img src="/img/shoucang01.png" alt=""></a></div>
                <div class="zan2">收藏</div>
                <div class="zan3">(<span> </span>)</div>
            </div>
            <div class="shoucang">
                <div class="zan1"><a href="javascript:;"><img src="/img/dianzan01.png" alt=""></a></div>
                <div class="zan2">赞</div>
                <div class="zan3">(<span> </span>)</div>
            </div>
        </div>
    </div>
</div>

<div class="guding" >
    <div class="dgimg" onclick="save(this)" data-sharemode="qq"><a href="javascript:;"><img src="/img/kongjian.png" alt=""></a></div>
    <div class="dgimg" onclick="save(this)" data-sharemode="wb"><a href="javascript:;"><img src="/img/weibo.png" alt=""></a></div>
    <div class="dgimg" onclick="save(this)" data-sharemode="wx"><a href="javascript:;"><img src="/img/weixin.png" alt=""></a></div>
</div>
<script type="text/html" id="interact_p">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="shoucang">
            <div class="zan3"><span>{{data.cmtNum}}</span>次评论</div>
        </div>
        <div class="shoucang">
            <div class="zan3"><span>{{data.browseNum}}</span>次浏览</div>
        </div>
        <div class="shoucang">
            <div class="zan1"><a href="javascript:;"><img src="/img/shoucang01.png" alt=""></a></div>
            <div class="zan2" onclick="insert(this)">收藏</div>
            <div class="zan3">(<span>{{data.favNum}}</span>)</div>
        </div>
        <div class="shoucang">
            <div class="zan1"><a href="javascript:;"><img src="/img/dianzan01.png" alt=""></a></div>
            <div class="zan2" onclick="addinsert(this)">赞</div>
            <div class="zan3">(<span>{{data.lkNum}}</span>)</div>
        </div>
    </div>
</script>

<script>
//  window.onload=function () {
//      apidata.postdata.payload.list="";
//      apidata.postdata.payload.objId="";
//      apidata.postdata.payload.type="";
//      $("#interact").html(template("interact_p",utils.getdata("POST", "json",apidata.interact.queryPage,apidata.postdata)))
//  };
  //点赞
  function addinsert(that) {
      apidata.postdata.payload.list="";
      apidata.postdata.payload.objId="";
      apidata.postdata.payload.theUserId="";
      $("#interact").html(template("interact_p",utils.getdata("POST", "json",apidata.interact.linsert,apidata.postdata)))
  }
  //收藏
  function insert(that) {
      apidata.postdata.payload.tag="";
      apidata.postdata.payload.type="";
      apidata.postdata.payload.objId="";
      $("#interact").html(template("interact_p",utils.getdata("POST", "json",apidata.interact.itinsert,apidata.postdata)))
  }
  //分享
  function save(that) {
      apidata.postdata.payload.objId="";
      apidata.postdata.payload.serviceType="";
      apidata.postdata.payload.title="";
      apidata.postdata.payload.url="";
      apidata.postdata.payload.shareMode=that.dataset.sharemode;
      var savedata=utils.getdata("POST", "json",apidata.interact.shsave,apidata.postdata);
      console.log(savedata)
  }
</script>