<div class="col-md-12">
    <div class="horizontal-form">
        <div class="card-body">
            <div class="form-group col-xl-12 col-md-12 padding-t-10">
                <div class="row">
                    <label class="col-md-5 control-label brokeragetime"></label>
                    <div class="row rylist">
                        <h4>订单信息</h4>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10 row">
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">班级名称</label>
                    <label class="col-md-6 control-label brokeragetime">老年太极拳培训班</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">班级类型</label>
                    <label class="col-md-6 control-label brokeragetime">体育健身</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训老师</label>
                    <label class="col-md-6 control-label brokeragetime">王大达</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训老师</label>
                    <label class="col-md-6 control-label brokeragetime">王大达</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训时间</label>
                    <label class="col-md-6 control-label brokeragetime">2016.02.11 —2016.03.11</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训地点</label>
                    <label class="col-md-6 control-label brokeragetime">安徽广播电视大学2013室</label>
                </div>
            </div>
            <br>
            <div class="col-xl-12 col-sm-12 col-md-12 linexian padding-t-10"></div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训时间</label>
                    <label class="col-md-6 control-label brokeragetime">2016.02.11 —2016.03.11</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">培训地点</label>
                    <label class="col-md-6 control-label brokeragetime">安徽广播电视大学2013室</label>
                </div>
            </div>
            <br>
            <div class="col-xl-12 col-sm-12 col-md-12 linexian padding-t-10"></div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">订单号码</label>
                    <label class="col-md-6 control-label brokeragetime">ABC2018-010111</label>
                </div>
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime">原始金额</label>
                    <label class="col-md-6 control-label brokeragetime">50元</label>
                </div>
            </div>
            <br>
            <div class="col-xl-12 col-sm-12 col-md-12 linexian padding-t-10"></div>
            <div class="col-xl-12 col-sm-12 col-md-12 form-group padding-t-10">
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime ">支付方式</label>
                    <div class="col-md-6 row ">
                        <div class="dropdowns1 "></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-md-12 form-group padding-t-10">
                <div class="col-md-6 row padding-t-20">
                    <label class="col-md-4 control-label brokeragetime rylist">支付金额</label>
                    <div class="col-md-3 row ">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="rylist">&nbsp;&nbsp;元</div>
                </div>
            </div>

            <br/>
            <br/>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="col-md-6 row padding-t-20">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-fill btn-e">通过审核</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.utils_admin.loadhtml($(".dropdowns1"), '/dropdown.html', {
        "heard": "平台管理员",
        "body": [
            {
                "text": "1"
            },
            {
                "text": "2"
            },
            {
                "text": "3"
            }
        ]
    })
</script>