<div class="col-md-12">
    <div class="horizontal-form">
        <div class="card-body">
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">测验名称</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">证书选择</label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <div class="parentsitelist"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">判分规则类型</label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <div class="endchild"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">PC端题目显示类型</label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <div class="choose"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">移动端题目显示类型</label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <div class="option"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">使用类型</label>
                    <div class="col-md-4">
                        <div class="col-md-2">
                            <div class="sequence"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">测验限制分钟</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                    <div class="rylist">填0为不限制</div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">优秀线</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">测验限制提交次数</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                    <div  class="rylist">
                        填0为不限制
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">高等百分比</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">中等百分比</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">低等百分比</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">合格线</label>
                    <div class="col-md-4">
                        <input type="number" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">是否显示判卷情况</label>
                    <div class="col-md-7 row">
                        <div class="form-check form-check-radio col-md-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="displayDecided" value="1" checked>
                                <span class="form-check-sign"></span>
                                是
                            </label>
                        </div>
                        <div class="form-check form-check-radio col-md-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="displayDecided" value="0">
                                <span class="form-check-sign"></span>
                                否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-3 control-label brokeragetime">是否有主观题</label>
                    <div class="col-md-7 row">
                        <div class="form-check form-check-radio col-md-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="hasSubject" value="1" checked>
                                <span class="form-check-sign"></span>
                                是
                            </label>
                        </div>
                        <div class="form-check form-check-radio col-md-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="hasSubject" value="0">
                                <span class="form-check-sign"></span>
                                否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-20">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-fill  btn-e" onclick="endover()">确定</button>
                        <a class="btn btn-fill  btn-e" href="/admin/views/index.html#/assessissue">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function () {
        var pagepostdata = utils_admin.clone(apidata.postdata);
        let pagedata = "";
        if (pagepostdata.payload.tsId) {
            pagedata = utils_admin.setajax('POST', pagepostdata, apidata.testing.testingtest).data;
            let inputradata = $("input[type=radio]");
            let inputtxdata = $("input[type=text]");
            let inputnbdata = $("input[type=number]");
            inputtxdata[0].value = pagedata.name;
            inputnbdata[0].value = pagedata.duration;
            inputnbdata[1].value = pagedata.excellentScore;
            inputnbdata[2].value = pagedata.frequency;
            inputnbdata[3].value = pagedata.higherPercent;
            inputnbdata[4].value = pagedata.mediumPercent;
            inputnbdata[5].value = pagedata.lowerPercent;
            inputnbdata[6].value = pagedata.qualifiedScore;
            $("#rdo1").attr("checked", "checked");
            if (pagedata.displayDecided == "1") {
                inputradata[0].checked = true
            } else {
                inputradata[1].checked = true
            }
            if (pagedata.hasSubject == "1") {
                inputradata[2].checked = true
            } else {
                inputradata[3].checked = true
            }
        }
        //证书下拉框
        pagepostdata.payload.page = '';
        pagepostdata.payload.rows = '';
        let downdatalist = [];
        pagepostdata.payload.czCerted = "1";
        let getdata = utils_admin.setajax('POST', pagepostdata, apidata.schoolclass.queryPageManger);
        getdata.data.forEach((a, index) => {
            downdatalist.push(a);
            downdatalist[index].text = downdatalist[index].czName;
            downdatalist[index].id = downdatalist[index].czId;
        });
        window.utils_admin.loadhtml($(".parentsitelist"), '/dropdown.html', {
            "header": "选择班级",
            "id": "",
            "body": downdatalist,
            "width": 150,
            "name": "parentsitelist",
        });
        $('.parentsitelist').click(function (a) {
            pagepostdata.payload.czId = utils_admin.downid(a, "parentsitelist");
        });
        let headerendchild = ''
        if (pagedata) {
            pagedata.scoreRule == "0" ? headerendchild = "最高分" : pagedata.scoreRule == "1" ? headerendchild = "平均分" : pagedata.scoreRule == "2" ? headerendchild = "最后一次分" : headerendchild = '';
            pagepostdata.payload.scoreRule = pagedata.scoreRule;
        }
        //判分规则
        window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
            "header": headerendchild ? headerendchild : "选择判分规则",
            "id": "",
            "body": [
                {
                    "text": "最高分",
                    "id": "0"
                }, {
                    "text": "平均分",
                    "id": "1"
                }, {
                    "text": "最后一次分数",
                    "id": "2"
                }
            ],
            "width": 150,
            "name": "endchild",
        });
        $('.endchild').click(function (a) {
            pagepostdata.payload.scoreRule = utils_admin.downid(a, "endchild");
        });
        //PC端题目显示类型
        let chooseheader = '';
        if (pagedata) {
            pagedata.pcDisplayType == "single" ? chooseheader = "单题" : pagedata.pcDisplayType == "all" ? chooseheader = "整卷" : pagedata.pcDisplayType == "timetype" ? chooseheader = "分题型" : chooseheader = '';
            pagepostdata.payload.pcDisplayType = pagedata.pcDisplayType;
        }
        window.utils_admin.loadhtml($(".choose"), '/dropdown.html', {
            "header": chooseheader ? chooseheader : "选择PC端题目",
            "id": "",
            "body": [
                {
                    "text": "单题",
                    "id": "single"
                }, {
                    "text": "整卷",
                    "id": "all"
                }, {
                    "text": "分题型",
                    "id": "timetype"
                }
            ],
            "width": 150,
            "name": "choose",
        });
        $('.choose').click(function (a) {
            pagepostdata.payload.pcDisplayType = utils_admin.downid(a, "choose");
        });

        let optionheader = '';
        if (pagedata) {
            pagedata.mobileDisplayType == "single" ? optionheader = "单题" : pagedata.mobileDisplayType == "all" ? optionheader = "整卷" : pagedata.mobileDisplayType == "timetype" ? optionheader = "分题型" : optionheader = '';
            pagepostdata.payload.mobileDisplayType = pagedata.mobileDisplayType;
        }
        //移动端题目显示类型
        window.utils_admin.loadhtml($(".option"), '/dropdown.html', {
            "header": optionheader ? optionheader : "选择移动端题目",
            "id": "",
            "body": [
                {
                    "text": "单题",
                    "id": "single"
                }, {
                    "text": "整卷",
                    "id": "all"
                }, {
                    "text": "分题型",
                    "id": "timetype"
                }
            ],
            "width": 150,
            "name": "option",
        });
        $('.option').click(function (a) {
            pagepostdata.payload.mobileDisplayType = utils_admin.downid(a, "option");
        });
        let sequenceheader = '';
        if (pagedata) {
            pagedata.pcDisplayType == "single" ? sequenceheader = "lx" : pagedata.pcDisplayType == "all" ? sequenceheader = "ks" : sequenceheader = '';
            pagepostdata.payload.userType = pagedata.userType;
        }
        //使用类型
        window.utils_admin.loadhtml($(".sequence"), '/dropdown.html', {
            "header": sequenceheader ? sequenceheader : "选择使用类型",
            "id": "",
            "body": [
                {
                    "text": "练习",
                    "id": "lx"
                },
                {
                    "text": "考试",
                    "id": "ks"
                }
            ],
            "width": 150,
            "name": "sequence",
        });
        $('.sequence').click(function (a) {
            pagepostdata.payload.userType = utils_admin.downid(a, "sequence");
        });


        //保存
        function endover() {
            let inputtxdata = $("input[type=text]");
            let inputnbdata = $("input[type=number]");
            pagepostdata.payload.name = inputtxdata[0].value;
            pagepostdata.payload.duration = inputnbdata[0].value;
            pagepostdata.payload.excellentScore = inputnbdata[1].value;
            pagepostdata.payload.frequency = inputnbdata[2].value;
            pagepostdata.payload.higherPercent = inputnbdata[3].value;
            pagepostdata.payload.mediumPercent = inputnbdata[4].value;
            pagepostdata.payload.lowerPercent = inputnbdata[5].value;
            pagepostdata.payload.qualifiedScore = inputnbdata[6].value;
            inputnbdata[1].value=='0'?pagepostdata.payload.limitFrequencyed='1':pagepostdata.payload.limitFrequencyed='0'
            inputnbdata[3].value=='0'?pagepostdata.payload.limitDurationed='1':pagepostdata.payload.limitDurationed='0'
            pagepostdata.payload.displayDecided = $(':radio[name="displayDecided"]:checked').val()
            pagepostdata.payload.hasSubject = $(':radio[name="hasSubject"]:checked').val();
            let dataid = utils_admin.setajax('POST', pagepostdata, apidata.testing.testingTest);
            pagepostdata.payload.tsId = dataid.data.id;
            let datasc = utils_admin.setajax('POST', pagepostdata, apidata.schoolclass.addTest);
            if (datasc.data.status== "1") {
                alert(datasc.data.message)
            } else {
                alert("成功");
                window.location.href = "/admin/views/index.html#/assessissue"
            }
        }

        window.endover = endover;
    })(window)
</script>