<div class="card-body">
    <div class="tab-content">
        <div class="col-md-12">
            <div class="card horizontal-form">
                <div class="card-body">
                    <div class="row col-md-12">
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">测验名称</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label"></label>
                            <button style="margin-top: 5px" class="btn btn-wd btn-e" onclick="seek(this)">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="padding-l-10 f-s-17 bod  box-s bod-r-8 padding-t-10">
                <button class="btn btn-e btn-wd" onclick="deleteclass(this)">批量删除</button>
                <a href="#/addassessissue" class="btn btn-e btn-wd">新增测验</a>
            </div>
        </div>
        <div class="container-fluid padding-t-20">
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-bordered table-hover" id="tablecz">
                        <thead>
                        <tr>
                            <th><input class="fuxk" name="allcheck" type="checkbox" value="" id="allcheck"
                                       onclick="selectall(this)"/></th>
                            <th class="text-center cuti">测验名称</th>
                            <th class="text-center cuti">判分规则</th>
                            <th class="text-center cuti">合格线</th>
                            <th class="text-center cuti">组卷时间</th>
                            <th class="text-center cuti">操作</th>
                        </tr>
                        </thead>
                        <tbody id="assessissue"></tbody>
                    </table>
                    <div class="fenye">
                        <div class="pagination pagination0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="assessissue_t">
    {{each data}}
    <tr class="{{$value.tsId}}">
        <td><input class="fuxk" name="choose" type="checkbox" value="{{$value.tsId}}"/>
        </td>
        <td class="text-center">{{$value.name}}</td>
        <td class="text-center">
            {{if $value.scoreRule=='0'}}
            最高分
            {{else if  $value.scoreRule=='1'}}
            平均分
            {{else}}
            最后一次分数
            {{/if}}
        </td>
        <td class="text-center">{{$value.qualifiedScore}}</td>
        <td class="text-center">
            {{$value.createDate}}
        </td>
        <td class="text-center caozuo">
            <a href="javascript:void(0);" data-id="{{$value.tsId}}"
               onclick="check(this)">
                编辑
            </a>
            <a href="javascript:;" data-id="{{$value.tsId}}"
               onclick="grouplist(this)">组卷管理</a>
            <a href="javascript:void(0);" data-id="{{$value.tsId}}"
               onclick="onedel(this)">删除</a>
        </td>
    </tr>
    {{/each}}
</script>

<script>
    (function (window, $) {
        utils_admin.delpostdata("tsId");
        var pagepostdata = utils_admin.clone(apidata.postdata);
        let pagedataone = utils_admin.setajax('POST', pagepostdata, apidata.testing.queryPage);
        utils_admin.queryPage("assessissue", "assessissue_t", pagedataone);
        new pagination({
            pagination: $('.pagination0'),
            maxPage: 5,
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedataone.totalCount / pagedataone.pageSize) - (pagedataone.totalCount / pagedataone.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = "" + pageNum + "";
                utils_admin.queryPage("assessissue","assessissue_t", utils_admin.setajax('POST', pagepostdata, apidata.testing.queryPage));
            }
        });
        //搜索
        function seek(e) {
           pagepostdata.payload.name=$("input").val();
            utils_admin.queryPage("assessissue","assessissue_t", utils_admin.setajax('POST', pagepostdata, apidata.testing.queryPage));
        }
        //编辑
        function check(e) {
            utils_admin.redact("addassessissue", "tsId", e)
        }
        //组卷
        function grouplist(e) {
            utils_admin.redact("grouplist", "tsId", e)
        }
        //全选
        function selectall(thit) {
            let checkboxs = document.getElementsByName("choose");
            if (thit.checked) {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = true;
                }
            } else {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = false;
                }
            }
        }
        //删除
        function onedel(e) {
            $("#popups").toggle("hidden");
            var id = e.dataset.id;
            pagepostdata.payload.tsId = id;
        }
        //批量删除
        function deleteclass(a) {
            $("#popups").toggle("hidden");
            console.log(utils_admin.choosevalue("assessissue"));
            pagepostdata.payload.tsId = utils_admin.choosevalue("assessissue");
        }
        $("#popups>.white_content").click(function (a) {
            if (a.target.nodeName.toLowerCase() == "button") {
                $("#popups").toggle("hidden")
            }
            if (a.target.dataset.id == "1") {
                utils_admin.setajax('POST', pagepostdata, apidata.testing.testdelete);
                utils_admin.queryPage("assessissue","assessissue_t", utils_admin.setajax('POST', pagepostdata, apidata.testing.queryPage));
            }
        });

        window.onedel =onedel;
        window.deleteclass =deleteclass;
        window.check =check;
        window.seek =seek;
        window.grouplist =grouplist;
        window.selectall =selectall;
    })(window, window.$);



</script>