<div id="comment"></div>
<script type="text/html" id="comment_t">
    <div class="col-md-12">
        <div class="horizontal-form">
            <div class="card-body">
                <div class="form-group col-xl-12 padding-t-10">
                    <div class="row">
                        <label class="col-md-2 control-label brokeragetime">作业主题</label>
                        <div class="col-md-4 rylist">
                            {{data.hwTitle}}
                        </div>
                    </div>
                </div>
                <div class="form-group col-xl-12 padding-t-10">
                    <div class="row">
                        <label class="col-md-2 control-label brokeragetime">反馈内容</label>
                        <div class="col-md-10">
                            <div style="resize: none; min-height:200px;width: 100%;border:1px solid #E4E4E4" cols="5"
                                 rows="5">{{data.uhContent}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xl-12 padding-t-10">
                    <div class="row">
                        <label class="col-md-2 control-label brokeragetime">附件:</label>
                        <div class="col-md-10">
                            <div class="con4 rylist">
                                <a href="{{data.homeworkAttachments}}">下载作业</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xl-12 padding-t-10">
                    <div class="row">
                        <label class="col-md-2 control-label brokeragetime">评分</label>
                        <div class="col-md-4">
                            <input type="number" placeholder="{{data.uhScore}}" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group col-xl-12 padding-t-20">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-fill  btn-e" onclick="savemessageg()">完成</button>
                        </div>
                        <div class="col-md-3">
                            <a href="/admin/views/index.html#/interactwork" class="btn btn-fill  btn-e">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>
<script>
    (function (window, $) {

        var pagepostdata = utils_admin.clone(apidata.postdata);
        utils_admin.queryPage("comment", "comment_t", utils_admin.setajax('POST', pagepostdata, apidata.homework.udetail));


        //保存
        function savemessageg() {
            let inputdata = $("input");
            if (inputdata[0].value == '') {
                alert("必填项")
            } else {
                if (utils_admin.setajax('POST', pagepostdata, apidata.homework.uscore).success == "1") {
                    alert("成功   ")
                    window.location.href = '/admin/views/index.html#/interactwork'
                }
            }
        }


        window.savemessageg = savemessageg;
    })(window, window.$)

</script>