<div class="card-body">
    <div class="tab-content">
        <div id="agency" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
            <div class="col-md-12 row" style="margin-left: 6px;margin-bottom: 10px">
                <div class="parentsitelist"></div>
                <div class="endchild" style="margin-left: 5px"></div>
            </div>
            <div class="col-md-12">
                <div class="card horizontal-form">
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label">订单号</label>
                                <div class="col-md-8 rylist">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label">下单人</label>
                                <div class="col-md-8 rylist">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label">订单名称</label>
                                <div class="col-md-8 rylist">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-6 rylist">
                                    <div class="dropdowns"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label class="col-md-4 control-label"></label>
                                <button style="margin-top: 5px" class="btn btn-e btn-wd">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="padding-l-10 f-s-17 bod  box-s bod-r-8 padding-t-10">
                    <button class="btn btn-e btn-wd">订单统计</button>
                </div>
            </div>
            <div class="container-fluid padding-t-20">
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-bordered table-hover" id="tablecz">
                            <thead>
                            <tr>
                                <th><input class="fuxk" name="allcheck" type="checkbox" value="" id="allcheck"
                                           onclick="selectall(this)"/></th>
                                <th class="text-center cuti">订单号</th>
                                <th class="text-center cuti">订单名称</th>
                                <th class="text-center cuti">订单类型</th>
                                <th class="text-center cuti">金额</th>
                                <th class="text-center cuti">下单人</th>
                                <th class="text-center cuti">支付时间</th>
                                <th class="text-center cuti">缴费方式</th>
                                <th class="text-center cuti">状态</th>
                                <th class="text-center cuti">操作</th>
                            </tr>
                            </thead>
                            <tbody id="indentlist"></tbody>

                        </table>
                        <div class="fenye">
                            <div class="pagination pagination0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="indentlist_t">
    {{each data}}
    <tr class="{{$value.orderId}}">
        <td><input class="fuxk" name="choose" type="checkbox" value="{{$value.orderId}}"/>
        </td>
        <td class="text-center"> {{$value.sn}}</td>
        <td class="text-center"> {{$value.name}}</td>
        <td class="text-center">
            {{if $value.type==1}}个人订单
            {{else if $value.type==2}}集体订单
            {{/if}}
        </td>
        <td class="text-center">
            {{$value.needPrice}}
        </td>
        <td class="text-center">
            {{$value.userName}}
        </td>
        <td class="text-center">{{$value.createDate}}</td>
        <td class="text-center">
            {{if $value.payDate==1}}线上
            {{else}}线下
            {{/if}}
        </td>
        <td class="text-center">
            {{if $value.status==1}}待付状态
            {{else if $value.status==2}}过期作废
            {{else if $value.status==3}}完成订单
            {{else if $value.status==4}}退单
            {{/if}}
        </td>
        <td class="text-center caozuo">
            <a href="javascript:void(0);" data-id="{{$value.orderId}}" data-type="{{$value.status}}"
               onclick="pubStatus(this)">
                状态审核</a>
            <a href="javascript:void(0);" data-id="{{$value.orderId}}"
               onclick="redact(this)">
                详情
            </a>
        </td>
    </tr>
    {{/each}}
</script>


<script>
    (function (window, $) {
        var pagepostdata = utils_admin.clone(apidata.postdata);
        let pagedataone = utils_admin.setajax('POST', pagepostdata, apidata.orderform.orderformlist);
        utils_admin.queryPage("indentlist", "indentlist_t", pagedataone);
        //分页1
        new pagination({
            pagination: $('.pagination0'),//分页挂载的样式名称
            maxPage: 5, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedataone.totalCount / pagedataone.pageSize) - (pagedataone.totalCount / pagedataone.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = "" + pageNum + "";
                //修改查询接口-apidata.news.queryPage
                utils_admin.queryPage("indentlist", "indentlist_t", utils_admin.setajax('POST', pagepostdata, apidata.orderform.orderformlist));
            }
        });

        //站点,平台初始化
        window.utils_admin.loadhtml($(".parentsitelist"), '/dropdown.html', {
            "header": "所有平台",
            "id": null,
            "body": window.parentSiteList,
            "width": 120,
            "name": "parentsitelist",
        });
        window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
            "header": "先选择平台",
            "id": null,
            "body": null,
            "width": 120,
            "name": "endchild",
        });
        //站点
        $(".parentsitelist").click(function (a) {
            let id = '', endchild = [];
            if (a.target.nodeName.toLowerCase() == "li") {
                id = a.target.getAttribute("id")
            } else {
                id = window.parentSiteList[0].id
            }
            window.childSiteList.forEach((a) => {
                a.forEach((e, index) => {
                    if (e.ptId == id) {
                        endchild.push(e)
                        endchild[index].text = endchild[index].siteName;
                        endchild[index].id = endchild[index].siteId;
                    }
                })
            });
            window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
                "header": endchild[0].text,
                "id": endchild[0].id,
                "body": endchild,
                "width": 120,
                "name": "endchild",
            });
        });
        $(".endchild").click(function (a) {
            pagepostdata.payload.siteId = utils_admin.downid(a, "endchild");
        });

        //全选
        function selectall(thit) {
            let checkboxs = document.getElementsByName("choose");
            if (thit.checked) {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = true;
                }
            } else {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = false;
                }
            }
        }

        window.selectall=selectall
    })(window, window.$)
</script>