<div class="card-body">
    <div class="tab-content">
        <div class="col-md-12 row" style="margin-left: 6px;margin-bottom: 10px">
            <div class="parentsitelist"></div>
            <div class="endchild" style="margin-left: 5px"></div>
        </div>
        <div class="col-md-12">
            <div class="card horizontal-form">
                <div class="card-body">
                    <div class="row col-md-12">
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">评论内容</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">来源名称</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">评论人</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row rylist">
                        <div class="col-md-4 col-sm6 row">
                            <label class="col-md-5 control-label"></label>
                            <div class="dropdowns"></div>
                        </div>
                        <div class="col-md-4 col-sm6 row">
                            <label class="col-md-5 control-label"></label>
                            <button style="margin-top: 5px" class="btn btn-e btn-wd">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="padding-l-10 f-s-17 bod  box-s bod-r-8 padding-t-10">
                <button class="btn btn-e btn-wd" onclick="deleteclass(this)">批量删除</button>
            </div>
        </div>
        <div class="container-fluid padding-t-20">
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-bordered table-hover" id="tablecz">
                        <thead>
                        <tr>
                            <th><input class="fuxk" name="allcheck" type="checkbox" value="" id="allcheck"
                                       onclick="selectall(this)"/></th>
                            <th class="text-center cuti">评论内容</th>
                            <th class="text-center cuti">评论人</th>
                            <th class="text-center cuti">评论类型</th>
                            <th class="text-center cuti">评论时间</th>
                            <th class="text-center cuti">操作</th>
                        </tr>
                        </thead>
                        <tbody id="interactcomment"></tbody>

                    </table>
                    <div class="fenye">
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="interactcomment_t">
    {{each data}}
    <tr class="{{$value.cmtId}}">
        <td><input class="fuxk" name="choose" type="checkbox" value="{{$value.cmtId}}"/>
        </td>
        <td class="text-center"> {{$value.content}}
        </td>
        <td class="text-center">{{$value.createBy}}</td>
        <td class="text-center">{{$value.type}}</td>
        <td class="text-center">{{$value.cmtDate}}</td>
        <td class="text-center caozuo">
            <a href="javascript:void(0);" data-id="{{$value.cmtId}}"
               onclick="forbidden(this)">删除</a>
        </td>
    </tr>
    {{/each}}
</script>


<script>
    (function (window, $) {
        var pagepostdata = utils_admin.clone(apidata.postdata);
        let pagedataone = utils_admin.setajax('POST', pagepostdata, apidata.interact.interactlist);
        utils_admin.queryPage("interactcomment", "interactcomment_t", pagedataone);
        new pagination({
            pagination: $('.pagination'),//分页挂载的样式名称
            maxPage:4, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedataone.totalCount / pagedataone.pageSize) - (pagedataone.totalCount / pagedataone.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = ""+ pageNum + "";
                utils_admin.queryPage("interactcomment", "interactcomment_t", utils_admin.setajax('POST', pagepostdata, apidata.interact.interactlist));
            }
        });

        //站点,平台初始化
        window.utils_admin.loadhtml($(".parentsitelist"), '/dropdown.html', {
            "header": "所有平台",
            "id": null,
            "body": window.parentSiteList,
            "width": 120,
            "name": "parentsitelist",
        });
        window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
            "header": "先选择平台",
            "id": null,
            "body": null,
            "width": 120,
            "name": "endchild",
        });
        //换站点
        $(".parentsitelist").click(function (a) {
            let id = '', endchild = [];
            if (a.target.nodeName.toLowerCase() == "li") {
                id = a.target.getAttribute("id");
            }
            else {
                id = window.parentSiteList[0].id
            }
            window.childSiteList.forEach((a) => {
                a.forEach((e, index) => {
                    if (e.ptId == id) {
                        endchild.push(e)
                        endchild[index].text = endchild[index].siteName;
                        endchild[index].id = endchild[index].siteId;
                    }
                })
            });
            pagepostdata.payload.siteId = endchild[0].id;

            window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
                "header": endchild[0].text,
                "id": endchild[0].id,
                "body": endchild,
                "width": 120,
                "name": "endchild",
            });
        });

        $(".endchild").click(function (a) {
            pagepostdata.payload.siteId = utils_admin.downid(a, "endchild");
        });

        //全选
        function selectall(thit) {
            let checkboxs = document.getElementsByName("choose");
            if (thit.checked) {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = true;
                }
            } else {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = false;
                }
            }
        }


        //删除
        function forbidden(e) {
            $("#popups").toggle("hidden");
            pagepostdata.payload.cmtId = e.dataset.id;
        }

        //批量删除
        function deleteclass(a) {
            $("#popups").toggle("hidden");
            pagepostdata.payload.cmtId = utils_admin.choosevalue("interactcomment");
        }

        $("#popups>.white_content").off('click').on('click', function (a) {
            if (a.target.nodeName.toLowerCase() == "button") {
                $("#popups").toggle("hidden")
            }
            if (a.target.dataset.id == "1") {
                utils_admin.setajax('POST', pagepostdata, apidata.interact.delete);
                utils_admin.queryPage("interactcomment", "interactcomment_t", utils_admin.setajax('POST', pagepostdata, apidata.interact.interactlist));
            }
            a.stopPropagation();
        });

        window.deleteclass = deleteclass;
        window.selectall = selectall;
        window.forbidden = forbidden
    })(window, window.$)

</script>
