<div class="card-body">
    <div class="tab-content">
        <div class="col-md-12 row" style="margin-left: 6px;margin-bottom: 10px">
            <div class="dropdowns"></div>
            <div class="dropdowns" style="margin-left: 5px"></div>
        </div>
        <div class="col-md-12">
            <div class="card horizontal-form">
                <div class="card-body">
                    <div class="row col-md-12">
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">作业主题</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">所属课程</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 row">
                            <label class="col-md-4 control-label">提交人</label>
                            <div class="col-md-8 rylist">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row rylist" >
                        <div class="col-md-4 col-sm6 row">
                            <label class="col-md-5 control-label"></label>
                            <div class="dropdowns"></div>
                        </div>
                        <div class="col-md-4 col-sm6 row">
                            <label class="col-md-5 control-label"></label>
                            <div class="dropdowns"></div>
                        </div>
                        <div class="col-md-4 col-sm6 row">
                            <label class="col-md-5 control-label"></label>
                            <button style="margin-top: 5px" class="btn btn-e btn-wd">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid padding-t-20">
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-bordered table-hover" id="tablecz">
                        <thead>
                        <tr>
                            <th class="text-center cuti">提交人</th>
                            <th class="text-center cuti">提交时间</th>
                            <th class="text-center cuti">作业状态</th>
                            <th class="text-center cuti">批阅状态</th>
                            <th class="text-center cuti">得分</th>
                            <th class="text-center cuti">操作</th>
                        </tr>
                        </thead>
                        <tbody id="interactwork"></tbody>
                    </table>
                    <div class="fenye">
                        <div class="pagination pagination0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="interactwork_t">
    {{each data}}
    <tr class="{{$value.uhId}}">
        </td>
        <td class="text-center">
            {{$value.custName}}
        </td>
        <td class="text-center">
            {{$value.uhScoreDate}}
        </td>
        <td class="text-center" data-status="{{$value.hwStatus}}">
            {{if $value.uhStatus==0}}未提交
            {{else if $value.uhStatus==1}}已提交
            {{/if}}
        </td>
        <td class="text-center">
            {{if $value.uhScoreStatus==0}}未评分
            {{else if $value.uhScoreStatus==1}}已评分
            {{/if}}

        </td>
        <td class="text-center"> {{$value.uhScore}}</td>

        <td class="text-center caozuo">
            <a href="javascript:void(0);" data-id="{{$value.uhId}}" data-hwId="{{$value.hwId}}"
               onclick="onedel(this)">批阅</a>
        </td>
    </tr>
    {{/each}}
</script>

<script>
    (function (window, $) {
        utils_admin.delpostdata("hwId","uhId");
        var pagepostdata=utils_admin.clone(apidata.postdata);
        pagepostdata.payload.sites=pagepostdata.payload.siteIds;
        pagepostdata.payload.custName="";
        let pagedataone = utils_admin.setajax('POST', pagepostdata, apidata.homework.uquerySumbitPage);
        utils_admin.queryPage("interactwork", "interactwork_t", pagedataone);
        new pagination({
            pagination: $('.pagination0'),//分页挂载的样式名称
            maxPage: 5, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedataone.totalCount / pagedataone.pageSize) - (pagedataone.totalCount / pagedataone.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = "" + pageNum + "";
                //修改查询接口-apidata.news.queryPage
                utils_admin.queryPage("interactwork", "interactwork_t", utils_admin.setajax('POST', pagepostdata, apidata.homework.uquerySumbitPage));
            }
        });


        function onedel(e) {
            console.log(e.dataset)
            apidata.postdata.payload.hwId=e.dataset.hwid;
            localStorage.setItem("ahll_m_user_postdata", JSON.stringify(apidata.postdata));
            utils_admin.redact("comment", "uhId", e)
        }
        window.onedel=onedel
    })(window, window.$)
</script>