<div class="col-md-12">
    <div class="horizontal-form">
        <div class="card-body">
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">学习小组名称</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-md-1 text-danger">*</div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">学习小组介绍</label>
                    <div class="col-md-10">
                        <textarea style="resize: none; min-height:200px;width: 100%;border:1px solid #E4E4E4" cols="5"
                                  rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">互动qq群号</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">学习小组分类</label>
                    <div class="col-md-10 row rylist">
                        <div class="sequence col-md-4"></div>
                        <div class="newscategorychild col-md-4"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">学习小组头像</label>
                    <div class="col-md-10">
                        <div class="con4">
                            <div id="cvstwo" class="imgcanvas"></div>
                            <span class="btn upload">上传<input type="file" class="upload_pic" id="uploadtwo"/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">小组归属</label>
                    <div class="col-md-10 row rylist">
                        <div class="col-md-4">
                            <div class="parentsitelist"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="endchild"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xl-12 padding-t-20">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-fill  btn-e" onclick="addAndSumbit()">保存并提交</button>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-fill  btn-e" onclick="addmessageg()">保存</button>
                    </div>
                    <div class="col-md-2">
                        <a href="/admin/views/index.html#/studygroup" class="btn btn-fill  btn-e">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function (window, $) {
        let pagepostdata = utils_admin.clone(apidata.postdata);
        let setdata = {};
        var inputwo = window.document.getElementById("uploadtwo");
        var canvastwo = window.document.getElementById("cvstwo");
        //回显数据
        if (pagepostdata.payload.sgpId) {
            setdata = utils_admin.setajax('POST', pagepostdata, apidata.studygroup.studygroupqueryById).data;
            pagepostdata.payload.sgpId = "";
            utils_admin.returnimg(canvastwo, setdata.sgpPhoto);
            console.log(setdata);
            let inputdata = $("input[type=text]");
            inputdata[0].value = setdata.sgpName;
            $("textarea").val(setdata.sgpInfo);
            inputdata[1].value = setdata.sgpQq ? setdata.sgpQq : "";
        }
        window.utils_admin.calendar($('.datepicker'));


        //站点,平台初始化
        window.utils_admin.loadhtml($(".parentsitelist"), '/dropdown.html', {
            "header": setdata.siteId ? setdata.ptName : "请选择平台",
            "id": null,
            "body": window.parentSiteList,
            "width": 120,
            "name": "parentsitelist",
        });
        window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
            "header": setdata.siteId ? setdata.siteName : "请选择站点",
            "id": null,
            "body": null,
            "width": 120,
            "name": "endchild",
        });
        //换站点
        // function parentsitelist(a) {
        $(".parentsitelist").click(function (a) {
            let id = '', endchild = [];
            if (a.target.nodeName.toLowerCase() == "li") {
                id = a.target.getAttribute("id")
            } else {
                id = window.parentSiteList[0].id
            }
            window.childSiteList.forEach((a) => {
                a.forEach((e, index) => {
                    if (e.ptId == id) {
                        endchild.push(e)
                        endchild[index].text = endchild[index].siteName;
                        endchild[index].id = endchild[index].siteId;
                    }
                })
            });
            pagepostdata.payload.siteId = endchild[0].id;

            window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
                "header": endchild[0].text,
                "id": endchild[0].id,
                "body": endchild,
                "width": 120,
                "name": "endchild",
            });
        });
        // }
        $(".endchild").click(function (a) {
            var id = '';
            if (a.target.nodeName.toLowerCase() == "li") {
                id = a.target.getAttribute("id")
            } else {
                id = $(".endchild input")[0].id
            }
            pagepostdata.payload.siteId = id;
        });
        //栏目分类
        var newscategoryone = utils_admin.setajax('POST', pagepostdata, apidata.studygroup.sgpCategoryPage);
        window.utils_admin.loadhtml($(".sequence"), '/dropdown.html', {
            "header": "选择分类",
            "id": null,
            "body": utils_admin.loop(newscategoryone.data, "catId", "catName"),
            "width": 135,
            "name": "sequence",
        });
        window.utils_admin.loadhtml($(".newscategorychild"), '/dropdown.html', {
            "header": "先选择分类一",
            "id": null,
            "body": null,
            "width": 135,
            "name": "newscategorychild",
        });
        $(".sequence").click(function (a) {
            let id = utils_admin.downid(a, "sequence");
            pagepostdata.payload.catId = id;
            if (id) {
                let newscatechaild = utils_admin.setajax('POST', pagepostdata, apidata.resource.cqueryManagePage);
                window.utils_admin.loadhtml($(".newscategorychild"), '/dropdown.html', {
                    "header": "先选择分类一",
                    "id": null,
                    "body": newscatechaild.data ? utils_admin.loop(newscatechaild.data, "catId", "catName") : "",
                    "width": 135,
                    "name": "newscategorychild",
                });
            }
        });
        $(".newscategorychild").click(function (a) {
            if (pagepostdata.payload.catId) {
                pagepostdata.payload.catId = pagepostdata.payload.catId + utils_admin.downid(a, "newscategorychild");
            }
            pagepostdata.payload.catId = utils_admin.downid(a, "newscategorychild");
        });


        //保存并提交
        function addAndSumbit() {
            let inputdata = $("input[type=text]");
            var cate = $(".dropdowns").find("input[name=dropdowns]").attr("id");
            if (cate == "") {
                alert("请填写分类")
                return false;
            } else {
                pagepostdata.payload.sgpName = inputdata[0].value;
                pagepostdata.payload.sgpInfo = $("textarea").val();
                pagepostdata.payload.sgpQq = inputdata[1].value;
                let result = utils_admin.setajax('POST', pagepostdata, apidata.studygroup.studygroupSave);
                pagepostdata.payload.sgpId = result.data.id;
                pagepostdata.payload.sgpStatus = "1";
                utils_admin.setajax('POST', pagepostdata, apidata.studygroup.studygroupSumbit);
                pagepostdata.payload.actStatus = "";
                alert("保存成功");
                pagepostdata.payload.sgpId = "";
                window.location.href = "/admin/views/index.html#/studygroup"
            }
        }

        //上传图片
        window.utils_admin.setimg(inputwo, canvastwo, function (setdata) {
            pagepostdata.payload.photo = setdata.data.fileId
            pagepostdata.payload.actImgs = setdata.data.fileId
            utils_admin.returnimg(canvastwo, setdata.data.fileUrl)
        }, pagepostdata);

        //保存
        function addmessageg() {
            let inputdata = $("input[type=text]");
            var cate = $(".dropdowns").find("input[name=dropdowns]").attr("id");
            if (cate == "") {
                alert("请填写分类")
                return false;
            }
            pagepostdata.payload.sgpName = inputdata[0].value;
            pagepostdata.payload.sgpInfo = $("textarea").val();
            pagepostdata.payload.sgpQq = inputdata[1].value;
            let getdata = utils_admin.setajax('POST', pagepostdata, apidata.studygroup.studygroupSave);
            if (getdata.success == "1") {
                alert("新增成功！");
                pagepostdata.payload.actId = "";
                window.location.href = "/admin/views/index.html#/studygroup"
            }
        }

        window.addmessageg = addmessageg;
        window.addAndSumbit = addAndSumbit;
    })(window, window.$)
</script>