<div class="card-body">
    <ul role="tablist" class="nav nav-tabs col-md-12">
        <li role="presentation" class="nav-item show active col-md-6">
            <a class="nav-link" id="info-tab" href="javascript:;" data-href="agency" data-toggle="tab">管理经验</a>
        </li>
        <li class="nav-item col-md-6">
            <a class="nav-link" id="account-tab" href="javascript:;" data-href="company" data-toggle="tab">主站下发</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="agency" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
            <div class="col-md-12 row" style="margin-left: 6px;margin-bottom: 10px">
                <div class="parentsitelist"></div>
                <div class="endchild" style="margin-left: 5px"></div>
            </div>
            <div class="col-md-12">
                <div class="card horizontal-form">
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label">经验类别</label>
                                <div class="col-md-6 rylist">
                                    <div class="dropdowns"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <button style="margin-top: 5px" class="btn btn-e btn-wd">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="padding-l-10 f-s-17 bod  box-s bod-r-8 padding-t-10">
                    <button class="btn btn-e btn-wd" onclick="deleteclass(this)">批量删除</button>
                </div>
            </div>
            <div class="container-fluid padding-t-20">
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-bordered table-hover" id="tablec">
                            <thead>
                            <tr>
                                <th><input class="fuxk" name="allcheck" type="checkbox" value="" id="allchec"
                                           onclick="selectall(this)"/></th>
                                <th class="text-center cuti">经验主题</th>
                                <th class="text-center cuti">上传时间</th>
                                <th class="text-center cuti">上传人</th>
                                <th class="text-center cuti">是否推荐</th>
                                <th class="text-center cuti">是否置顶</th>
                                <th class="text-center cuti">状态</th>
                                <th class="text-center cuti">操作</th>
                            </tr>
                            </thead>
                            <tbody id="undergo"></tbody>
                        </table>
                        <div class="fenye">
                            <div class="pagination pagination0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="company" class="tab-pane fade show" role="tabpanel" aria-labelledby="account-tab">
            <div class="col-md-12">
                <div class="card horizontal-form">
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-4 col-sm-6 row">
                                <label class="col-md-4 control-label">经验类别</label>
                                <div class="col-md-6 rylist">
                                    <div class="dropdowns"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <button style="margin-top: 5px" class="btn btn-e btn-wd">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid padding-t-20">
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-bordered table-hover" id="tablecz">
                            <thead>
                            <tr>
                                <th class="text-center cuti">经验主题</th>
                                <th class="text-center cuti">上传时间</th>
                                <th class="text-center cuti">上传人</th>
                                <th class="text-center cuti">是否推荐</th>
                                <th class="text-center cuti">是否置顶</th>
                                <th class="text-center cuti">状态</th>
                            </tr>
                            </thead>
                            <tbody id="undergotwo"></tbody>
                        </table>
                        <div class="fenye">
                            <div class="pagination pagination1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="undergo_t">
    {{each data}}
    <tr class="{{$value.articleId}}">
        <td><input class="fuxk" name="choose" type="checkbox" value="{{$value.articleId}}"/>
        </td>
        <td class="text-center"> {{$value.catName}}</td>
        <td class="text-center">{{$value.updateDate}}</td>
        <td class="text-center">{{$value.updateBy}}</td>
        <td class="text-center">{{if $value.posid}}是{{else}}否{{/if}}</td>
        <td class="text-center">{{if $value.weight=='999'}}是{{else}}否{{/if}}</td>

        <td class="text-center" data-status="{{$value.status}}">
            {{if $value.status==0}}未提交
            {{else if $value.status==1}}审核中
            {{else if $value.status==2}}审核通过
            {{else if $value.status==3}}审核失败
            {{/if}}
        </td>
        <td class="text-center caozuo">
            {{if $value.status==1||$value.status==3}}
            <a href="javascript:void(0);" data-id="{{$value.articleId}}"
               onclick="abmStatus(this)">审核</a>
            {{/if}}
            {{if $value.status==2}}
            <a href="javascript:void(0);" data-id="{{$value.articleId}}" data-type="{{$value.posid}}"
               onclick="posid(this)">
                {{if $value.posid}}
                取消推荐
                {{else}}推荐
                {{/if}}
            </a>
            <a href="javascript:void(0);" data-id="{{$value.articleId}}" data-type="{{$value.weight}}"
               onclick="statusz(this)">
                {{if $value.weight=='999'}}
                取消置顶
                {{else}}置顶
                {{/if}}
            </a>
            {{/if}}
            <a href="javascript:void(0);" data-id="{{$value.articleId}}"
               onclick="forbidden(this)">删除</a>
        </td>
    </tr>
    {{/each}}
</script>

<script type="text/html" id="undergotwo_t">
    {{each data}}
    <tr class="{{$value.articleId}}">
        <td class="text-center"> {{$value.catName}}</td>
        <td class="text-center">{{$value.updateDate}}</td>
        <td class="text-center">{{$value.updateBy}}</td>
        <td class="text-center">{{if $value.posid}}是{{else}}否{{/if}}</td>
        <td class="text-center">{{if $value.weight=='999'}}是{{else}}否{{/if}}</td>
        <td class="text-center" data-status="{{$value.abmStatus}}">
            {{if $value.status==0}}未提交
            {{else if $value.status==1}}审核中
            {{else if $value.status==2}}审核通过
            {{else if $value.status==3}}审核失败
            {{/if}}
        </td>
    </tr>
    {{/each}}
</script>

<script>
    (function (window, $) {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var choldnode = $(".tab-content").children();
            for (let i = 0; i < choldnode.length; i++) {
                choldnode[i].style.display = "none"
            }
            $("#" + this.dataset.href + "")[0].style.display = "block";
        });
        var pagepostdata = utils_admin.clone(apidata.postdata);
        let pagedataone = utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle);
        console.log("data", pagedataone);
        utils_admin.queryPage("undergo", "undergo_t", pagedataone);
        //分页1
        new pagination({
            pagination: $('.pagination0'),//分页挂载的样式名称
            maxPage: 5, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedataone.totalCount / pagedataone.pageSize) - (pagedataone.totalCount / pagedataone.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = "" + pageNum + "";
                //修改查询接口-apidata.news.queryPage
                utils_admin.queryPage("undergo", "undergo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle));
            }
        });

        //列表2  修改查询接口-apidata.news.queryPage
        let pagedatatwo = utils_admin.setajax('POST', pagepostdata, apidata.exp.lowerSendPage);
        console.log("data", pagedataone);
        utils_admin.queryPage("undergotwo", "undergotwo_t", pagedatatwo);
        //分页2
        new pagination({
            pagination: $('.pagination1'),//分页挂载的样式名称
            maxPage: 5, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 1,          //当前页码
            totalPageCount: (pagedatatwo.totalCount / pagedatatwo.pageSize) - (pagedatatwo.totalCount / pagedatatwo.pageSize) % 1 + 1,  //总页数
            callback: function (pageNum) {
                pagepostdata.payload.page = "" + pageNum + "";
                //修改查询接口-apidata.news.queryPage
                utils_admin.queryPage("undergotwo", "undergotwo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.lowerSendPage));
            }
        });
        //站点,平台初始化
        window.utils_admin.loadhtml($(".parentsitelist"), '/dropdown.html', {
            "header": "所有平台",
            "id": null,
            "body": window.parentSiteList,
            "width": 120,
            "name": "parentsitelist",
        });
        window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
            "header": "先选择平台",
            "id": null,
            "body": null,
            "width": 120,
            "name": "endchild",
        });
        //换站点
        $(".parentsitelist").click(function (a) {
            let id = '', endchild = [];
            if (a.target.nodeName.toLowerCase() == "li") {
                id = a.target.getAttribute("id");
            }
            else {
                id = window.parentSiteList[0].id
            }
            window.childSiteList.forEach((a) => {
                a.forEach((e, index) => {
                    if (e.ptId == id) {
                        endchild.push(e);
                        endchild[index].text = endchild[index].siteName;
                        endchild[index].id = endchild[index].siteId;
                    }
                })
            });
            pagepostdata.payload.siteId = endchild[0].id;

            window.utils_admin.loadhtml($(".endchild"), '/dropdown.html', {
                "header": endchild[0].text,
                "id": endchild[0].id,
                "body": endchild,
                "width": 120,
                "name": "endchild",
            });
        });
        $(".endchild").click(function (a) {
            pagepostdata.payload.siteId = utils_admin.downid(a, "endchild");
        });

        //全选
        function selectall(thit) {
            let checkboxs = document.getElementsByName("choose");
            if (thit.checked) {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = true;
                }
            } else {
                for (let i = 0; i < checkboxs.length; i++) {
                    let e = checkboxs[i];
                    e.checked = false;
                }
            }
        }


        //审核
        function abmStatus(e) {
            pagepostdata.payload.articleId = e.dataset.id;
            pagepostdata.payload.status = '2';
            utils_admin.setajax('POST', pagepostdata, apidata.exp.subAudit);
            pagepostdata.payload.pubStatus = '1';
            utils_admin.setajax('POST', pagepostdata, apidata.exp.publish);
            pagepostdata.payload.articleId = '';
            pagepostdata.payload.status = '';
            pagepostdata.payload.pubStatus = '';
            utils_admin.queryPage("undergo", "undergo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle));
        }
        //置顶
        function statusz(e) {
            pagepostdata.payload.articleId =e.dataset.id;
            if (e.dataset.type=='999') {
                pagepostdata.payload.status = '1';
            } else {
                pagepostdata.payload.status = '0';
            }
            utils_admin.setajax('POST', pagepostdata, apidata.exp.top);
            pagepostdata.payload.articleId = '';
            pagepostdata.payload.status = '';
            utils_admin.queryPage("undergo", "undergo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle));
        }

        //推荐
        function posid(e) {
            pagepostdata.payload.articleId =e.dataset.id;
            if (e.dataset.type) {
                pagepostdata.payload.flag = '1';
            } else {
                pagepostdata.payload.posid = '1';
                pagepostdata.payload.flag = '0';
            }
            utils_admin.setajax('POST', pagepostdata, apidata.exp.recommend);
            pagepostdata.payload.articleId = '';
            pagepostdata.payload.posid = '';
            pagepostdata.payload.flag = '';
            utils_admin.queryPage("undergo", "undergo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle));
        }


        //删除
        function forbidden(e) {
            $("#popups").toggle("hidden");
            var id = e.dataset.id;
            pagepostdata.payload.articleId = id;
        }

        //批量删除
        function deleteclass(a) {
            let checkboxs = document.getElementsByName("choose");
            $("#popups").toggle("hidden");
            pagepostdata.payload.articleId = utils_admin.choosevalue("acquirement");
        }

        $("#popups>.white_content").off('click').on('click', function (a) {
            if (a.target.nodeName.toLowerCase() == "button") {
                $("#popups").toggle("hidden")
            }
            if (a.target.dataset.id == "1") {
                utils_admin.setajax('POST', pagepostdata, apidata.exp.deleteArticle);
                utils_admin.queryPage("undergo", "undergo_t", utils_admin.setajax('POST', pagepostdata, apidata.exp.newsArticle));
            }
            a.stopPropagation();
        });

        window.forbidden = forbidden;
        window.selectall = selectall;
        window.deleteclass = deleteclass;
        window.posid = posid;
        window.abmStatus = abmStatus
        window.statusz = statusz
    })(window, window.$)

</script>