.baji{
    width: 100%;
    height:520px;
    background: url(../img/bb6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*margin-top: 20px;*/
}
.bjbm{
    text-align: center;
    color: #fff;
    padding-top:105px;
    font-size: 30px;
}
.bjname{
    width: 430px;
    margin: 0 auto;
}
.didian{
    color:#fff;
    padding-top: 20px;
    font-size:20px;
}
.fangshi{
    display: flex;
    flex-wrap: wrap;
}
.fangshi>div{
    font-size: 20px;
    color: #fff;
    width:215px ;
}
.flexin{
    display: flex;
}
.youinput input{
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcbd5a;
    border-radius: 30px;
    outline:none;
}
.youname{
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    width: 26%;
    text-align: right;
}
.youinput{
    width:74%;
}
.youname span{
    color: red;
}
.mar20{
    margin-top: 20px;
}
.baoming{
    display: block;
    height: 52px;
    width: 160px;
    text-align: center;
    line-height: 52px;
    font-size: 24px;
    background: #dcbd5a;
    color: #fff;
    border-radius: 30px;
   margin:56px auto 80px auto;
}
.laonbj{

}













