.bjtpop {
    width: 100%;
    height: 138px;
    background: url(../img/pic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 15px;
}
.dlzc {
    height: 50px
}

.flex {
    display: flex;
}

.flex input {
    width: 250px;
    height: 42px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-right: 0;
    padding-left: 20px;
}
.dropdown-menu li a:hover{
background: #e0c56e;
    color: #fff;
}
.fdj {
    width: 70px;
    height:42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0c56e;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background: #e0c56e;
}
a:hover{
    text-decoration: none;
}
.ysping {
    padding:10px 10px 0 10px;
    color: #39abef
}
.margintb {
    margin-bottom: 20px;
}
.bjtp {
    width: 100%;
    height: 60px;
    background: url(../img/链接底纹.png);
    background-size: 100% 100%;
    background-repeat:repeat;
    padding: 15px;
}
.margin-ri {
    margin-right: 20px;
    height: 30px;
    line-height: 30px
}
.lianjie{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
.margin-ri a {
    color: #fff;
}

.margin-ri a:hover {
    text-decoration: none;
    color: #000;
}
.ft14 {
    font-size: 16px;
    color: #fff;
}
.banquan1 {
    text-align: center;
}

.banquan2 {
    text-align: center;
    padding: 20px 0 20px 0;
}
.gr{
	padding-right:2px;
    padding-top: 9px;
}
.zs{
    padding-top: 10px;
}
.gr img{
	height: 20px;
	width: 20px;
}
.zs a{
	color: #39abef;
}
.zsh{
	padding-right: 15px;
    padding-top: 10px;
}
.fllianjie{
    display: flex;
    justify-content: space-around;
}
.lojuz img{
    padding-top: 11px;
}
#navbar ul li:hover >a{
    color:#fff;
}







