
.jindut{
    width: 100%;
    display: flex;
}
.kedu{
    width: 33.33%;
    height: 40px;
    display: flex;
}
.keduon{
    width: 33.33%;
    height: 40px;
    display: flex;
}
.shuzi{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #999;
    color: #fff;
    border-radius: 50%;
}
.zhonx{
    width: 45%;
    border-top: 3px solid #999;
    margin-top: 10px;
}
.mar40{
    margin-top: 40px;
}
.keduon .zhonx{
    width: 45%;
    border-top: 3px solid #39abef;
    margin-top: 10px;
}
.keduon .shuzi{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background:#39abef;
    color: #fff;
    border-radius: 50%;
}
.flxia{
    display: flex;
}
.yzsf{
    text-align: center;
    width: 33.33%;
    color: #999;
}
.yzsfon{
    text-align: center;
    width: 33.33%;
    color: #39abef;
}
.zijus{
    text-align: right;
    line-height: 35px;
}
.mar20{
    margin-top: 20px;
}
.mar10{
    margin-top: 10px;
}
.wufayz span{
    color: #39abef;
}
.tijiao{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #e0c56e;
    color: #fff;
    border-radius: 20px;
    margin: 50px auto;
    display: block;
}
.hei50{
    height: 500px;
}
.msdl{
    text-align: center;
}
.msdl span{
    color: #39abef;
}
.msdl a{
    color: #39abef;
}
.show{
    display: block;
}
.hidden{
    display: none;
}














