<div class="horizontal-form">
    <div class="card-body">
        <div class="form-group col-xl-12 padding-t-10">
            <div class="row">
                <label class="col-md-2 control-label brokeragetime">角色名称</label>
                <div class="col-md-4">
                    <input type="text" placeholder="" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group col-xl-12 col-md-12 padding-t-10" style="margin-left: 20px">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <label class="col-md-12">公共模块权限配置</label>
                    <div style="margin-left: 20px;background-color: #F7F7F7;padding: 5px">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xl-12 col-md-12 padding-t-10" style="margin-left: 20px">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <label class="col-md-12">老年网个性化模块权限配置</label>
                    <div style="margin-left: 20px;background-color: #F7F7F7;padding: 5px">
                        <ul id="treeDemotwo" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xl-12 padding-t-20">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-fill  btn-e">保存并添加</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">


    //  window.ztreedata(settingtwo,zNodestwo)
    var zNodes = [
        {id: 1, pId: 0, name: "用户管理", open: true, isParent: true},
        {id: 11, pId: 1, name: "角色管理",},
        {id: 111, pId: 11, name: "叶子节点111"},
        {id: 112, pId: 11, name: "叶子节点112"},
        {id: 113, pId: 11, name: "叶子节点113"},
        {id: 114, pId: 11, name: "叶子节点114"},
        {id: 12, pId: 1, name: " 管理员账号管理"},
        {id: 121, pId: 12, name: "叶子节点121"},
        {id: 13, pId: 1, name: "父节点13", isParent: true},
        {id: 2, pId: 0, name: "父节点2", open: true},
        {id: 21, pId: 2, name: "父节点21"},
        {id: 211, pId: 21, name: "叶子节点211"},
        {id: 212, pId: 21, name: "叶子节点212"},
        {id: 213, pId: 21, name: "叶子节点213"},
        {id: 214, pId: 21, name: "叶子节点214"},
        {id: 22, pId: 2, name: "父节点22"},
        {id: 221, pId: 22, name: "叶子节点221"},
        {id: 222, pId: 22, name: "叶子节点222"},
        {id: 223, pId: 22, name: "叶子节点223"},
        {id: 224, pId: 22, name: "叶子节点224"},
        {id: 23, pId: 2, name: "父节点23"},
        {id: 231, pId: 23, name: "叶子节点231"},
        {id: 232, pId: 23, name: "叶子节点232"},
        {id: 233, pId: 23, name: "叶子节点233"},
        {id: 234, pId: 23, name: "叶子节点234"},
        {id: 3, pId: 0, name: "父节点3", isParent: true}
    ];
    var setting = {
        view: {
            selectedMulti: false,
            showLine: false,
            showIcon: false,
        },
        check: {
            enable: true,
            chkboxType: {
                "Y": "s", "N": "s"
            }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        },
        callback: {
            beforeCheck: true,
            onCheck: onCheck
        }
    };

    window.utils_admin.Ztreedata($("#treeDemo"),setting,zNodes);
    function onCheck(e,treeId,treeNode) {
        let treeObj = $.fn.zTree.getZTreeObj("treeDemo"),
            nodes = treeObj.getCheckedNodes(true),
            v = "";
        for (let i = 0; i < nodes.length; i++) {
            v += nodes[i].name + ",";
            console.log("节点id:" + nodes[i].id + "节点名称" + v); //获取选中节点的值
        }
    }

    var zNodestwo = [
        {id: 1, pId: 0, name: "证书管理",},
        {id: 2, pId: 0, name: "网上报名管理"},
        {id: 3, pId: 0, name: "活动管理"},
        {id: 4, pId: 4, name: " 学习小组管理"},

    ];
    var settingtwo= {
        view: {
            selectedMulti: false,
            showLine:false,
            showIcon:false,
        },
        check: {
            enable: true,
            chkboxType:{
                "Y" : "s", "N" : "s"
            }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        },
        callback:{
            beforeCheck:true,
            onCheck:onCheck
        }
    };
    window.utils_admin.Ztreedata($("#treeDemotwo"),settingtwo,zNodestwo);
</script>