<div class="c-dropdown js-dropdown" style="margin-top:0px;">
    {{set bodylen=1}}
    {{if body}}
    {{set bodylen=body.length}}
    {{/if}}
    <input data-id="{{id}}" id="{{id}}" type="hidden" class="js-dropdown__input" name="{{name}}">
    <span data-id="{{id}}" class="c-button js-dropdown__current fbuttone" style="width:{{width?width:170}}px">{{header}}</span>
    <ul class="c-dropdown__list" style="height:{{bodylen>6?'200px':'auto'}};overflow:auto;">
        {{if name=='parentsitelist'|| name=='endchild'||name=='choose'||name=='option'||name=='sequence'}}
        {{each body}}
        <li id="{{$value.id}}" data-id="{{$value.id}}" class="c-dropdown__item" data-dropdown-value="{{$value.text}}">
            {{$value.text}}
        </li>
        {{/each}}
        {{else}}
        <li id="" data-id="" class="c-dropdown__item" data-dropdown-value="全部">全部</li>
        {{each body}}
        <li id="{{$value.id}}" data-id="{{$value.id}}" class="c-dropdown__item" data-dropdown-value="{{$value.text}}">
            {{$value.text}}
        </li>
        {{/each}}
        {{/if}}
    </ul>
</div>

<script>
    (function ($, window, document, undefined) {
        var $html = $('html');
        $html.off('click.ui.dropdown').on('click.ui.dropdown', '.js-dropdown', function (e) {
            e.preventDefault();
            $(this).toggleClass('is-open');
        });

        $html.on('click.ui.dropdown', '.js-dropdown [data-dropdown-value]', function (e) {
            e.preventDefault();
            var $item = $(this);
            var $dropdown = $item.parents('.js-dropdown');
            $dropdown.find('.js-dropdown__input').val($item.data('dropdown-value'));
            $dropdown.find('.js-dropdown__input').attr('id', $item.data('id'));
            $dropdown.find('.js-dropdown__current').text($item.text());
        });

        $html.on('click.ui.dropdown', function (e) {
            var $target = $(e.target);
            if (!$target.parents().hasClass('js-dropdown')) {
                $('.js-dropdown').removeClass('is-open');
            }
        });
    })(jQuery, window, document);
</script>

