.flexall {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.chengshi:after {
    content: "|";
    padding: 0 5px;
    font-size: 20px;
}

.chengshi:last-child:after {
    display: none;
}

.chengshi a {
    color: #000;
    font-size: 20px;
}

.activecs a {
    color: #39abef;
}

.Show-bar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.cayi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    width: 140px;
    height: 140px;
}

.cayi > div {
    padding-top: 15px;
}

.huisebj {
    background: #ebf6fd;
}

.caiyixiu {
    width: 240px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #dcbd5a;
    color: #fff;
    font-size: 20px;
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 30px;
}

.tab .nav-tabs {
    border-bottom: none;
    position: relative;
}

.tab .nav-tabs li {
    margin-right: 10px;
    z-index: 1;
}

.tab .nav-tabs li a {
    display: block;
    background: #fff;
    font-size: 18px;
    height: 49px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    border-radius: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li.active a, .tab .nav-tabs li a:hover {
    color: #fff;
    border: 2px solid #39abef;
}

.tab .nav-tabs li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li.active a:after, .tab .nav-tabs li a:hover:after {
    height: 100%;
    background: #39abef;
}

.tab .tab-content {
    padding: 20px 10px;
    margin-top: 0;
    font-size: 14px;
    color: #999;
    line-height: 26px;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .tab .nav-tabs li {
        margin: 0 25px 0 0;
    }
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .tab .nav-tabs li:after {
        width: 0;
        height: 100%;
        top: auto;
        bottom: -60%;
        right: 50%;
    }
}

.huiseziti {
    color: #afafaf;
    line-height: 29px;
}

.flexc {
    display: flex;
    justify-content: center;
}

.yuanxia {
    width: 40px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
}

.yuanxiaactive {
    width: 40px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    background: #39abef;
    line-height: 40px;
}

.Show-piece-list {
    margin-top:52px;
    border-bottom: 1px solid #afafaf;
    height:50px;
}

.margin-top3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.mediaa {
    overflow: hidden;
    display: block;
    position: relative;
    vertical-align: top;
    margin-top: 30px;
}

.media__image {
    display: block;
    width: 100%;
}

.media__body {
    background: rgba(41, 128, 185, 0.7);
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3.75em 3em;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.media__body:hover {
    opacity: 1;
}

.media__body:after, .media__body:before {
    border: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
}

.media__body:before {
    border-bottom: none;
    border-top: none;
    left: 2em;
    right: 2em;
}

.media__body:after {
    border-left: none;
    border-right: none;
    bottom: 2em;
    top: 2em;
}

.media__body:hover:after, .media__body:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.xqxx1 {
    text-align: center;
}

.zuozhe1 {
    padding: 5px 0 5px 5px;
}

.zuozhe2 {
    padding: 0px 0 15px 5px;
    color: #999;
}

.block {
    display: block;
}

.none {
    display: none;
}
.flbm{
    display: flex;
    height: 49px;
    align-items: center;
}
.button1{
    padding:0 10px 0 20px;
}
.lanse{
    color: #8c8c8c;
}
.lanse span{
    color: #39abef;
}
.mar40{
    margin-top: 40px;
}
.laojiahuo{
    font-size: 24px;
    color: #000;

}
.flbms{
    display: flex;
    justify-content: space-between;
}
.peixun1{
    color:#8c8c8c;
    height: 50px;
    line-height: 50px;
}
.peixun2{
    display: block;
    height: 52px;
    width: 180px;
    text-align: center;
    line-height: 52px;
    font-size: 24px;
    background: #dcbd5a;
    color: #fff;
    border-radius: 30px;
}
.peixuntime{
    color:#666;
}
.peixuntimes{
    color:#8c8c8c;
    margin-top: 20px;
    display: flex;
}
.peixuntimes>div{
    width: 300px;
    font-size: 16px;
    color: #666;
}
.xiangxi{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 20px;
}
.xiaxuxian{
    border-bottom:1px dashed #e6e6e6 ;
}











