.huibja{
    background: #e6e6e6;
    height: 60px;
    margin-top: 20px;
}
.dingdanhao{
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
}
.feiyong{
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    font-size: 16px;
}
.feiyong span{
    color: red;
}
.bkhs{
    border: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
.peix1{
    margin: 70px 0;
    border-right: 1px solid #e6e6e6;
}
.peix2{
    margin: 70px 0;
}
.ddzt1{
color:#727272
}
.ddzt1 span{
    color: red;
}
.ddzt2{
    color:#727272;
    padding-top: 40px;
}
.ddzt2 span{
    color: #000;
}
.ddzt3{
    color:#727272;
    padding-top: 40px;
}
.ddzt3 span{
    color: red;
}
.ddzt4{
    font-size: 16px;
    color: #000;
    padding-top: 40px;
}
.ddzt4 span{
    color: #39abef;
}

.wxzb1{
    margin-top: 150px;
}
.wxzb1 a{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #dcbd5a;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    margin:0 auto
}
.wxzb2{
    margin-top:30px;
    display: none;
}
#div1 {
    overflow:hidden;
}
.shouhang a {
    display: inline-block;
}

.activeall {
    border: 3px solid blue;
}
.biank{
    border: 1px solid #e6e6e6;
}
.biank img{
    width: 158px;
    height: 48px;
}
.zhifubao{
    border:3px solid #0194dc
}
.zhifubao img{
    width: 154px;
    height: 44px;
}
.weixin{
    border:3px solid #00c800
}
.weixin img{
    width: 154px;
    height: 44px;
}
.aa2{
    margin-left: 20px;
}
.show{
    display: block;
}
.hidden{
    display: none;
}









