
.jindut{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.kedu{
    width: 33.33%;
    height: 40px;
    display: flex;
}
.keduon{
    width: 33.33%;
    height: 40px;
    display: flex;
}
.shuzi{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #999;
    color: #fff;
    border-radius: 50%;
}
.zhonx{
    width: 45%;
    border-top: 3px solid #999;
    margin-top: 10px;
}
.mar40{
    margin-top: 40px;
}
.keduon .zhonx{
    width: 45%;
    border-top: 3px solid #39abef;
    margin-top: 10px;
}
.keduon .shuzi{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background:#39abef;
    color: #fff;
    border-radius: 50%;
}
.flxia{
    display: flex;
}
.yzsf{
    text-align: center;
    width: 33.33%;
    color: #999;
}
.yzsfon{
    text-align: center;
    width: 33.33%;
    color: #39abef;
}
.zijus{
    text-align: right;
    line-height: 35px;
}
.mar20{
    margin-top: 20px;
}
.mar10{
    margin-top: 10px;
}
.wufayz span{
    color: #39abef;
}
#wancheng{
    text-align: center;
    padding-top: 100px;
}
#wancheng span{
    color: #39abef;
}
#wancheng a{
    color: #39abef;
}
.tijiao{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #e0c56e;
    color: #fff;
    border-radius: 20px;
    margin: 50px auto;
    display: block;
}
#yanzshenfen{
    margin-top: 50px;
}
.hei50{
    height: 500px;
}
.msdl{
    width: 75%;
    font-size: 16px;
}
.msdl span{
    color: #39abef;
    font-size: 16px;
}
.msdl a{
    color: #39abef;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
.disflall{
    display: flex;
    width: 70%;
    margin:20px auto 0 auto;
    height: 40px;
}
.yhm{
    height: 40px;
    line-height: 40px;
    width: 30%;
    text-align: right;
}
.inputys{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    outline:none;
    border:1px solid #ccc;
    padding-left: 10px;
}











