<div class="col-md-12">
    <div class="horizontal-form">
        <div class="card-body">
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime"></label>
                    <div class="col-md-10 row rylist">
                        <div class="col-md-4">
                            <div class="dropdowns1 "></div>
                        </div>
                        <div class="col-md-4">
                            <div class="dropdowns1 "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">证书名称</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xl-12 col-sm-12 col-md-12 linexian">
                <h4>
                    考核设置
                </h4>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">选择考试试卷</label>
                    <div class="col-md-4">
                        <div class="dropdowns1 "></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">合格分数线 ≥</label>
                    <div class="col-md-2">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="rylist">/100</div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">考核时间</label>
                    <div class="col-md-2">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="rylist">0为不限时间</div>
                </div>
            </div>
            <div class="form-group col-xl-12 padding-t-10">
                <div class="row">
                    <label class="col-md-2 control-label brokeragetime">重复考核次数</label>
                    <div class="col-md-2">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="rylist">0为不限次数</div>
                </div>
            </div>

            <br/>
            <br/>
            <div class="form-group col-xl-12 padding-t-20">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-fill  btn-success">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.utils_admin.loadhtml($(".dropdowns1"), '/dropdown.html', {
        "heard": "平台管理员",
        "body": [
            {
                "text": "1"
            },
            {
                "text": "2"
            },
            {
                "text": "3"
            }
        ]
    })
    window.utils_admin.loadhtml($(".dropdowns3"), '/dropdown.html', {
        "heard": "单选题",
        "body": [
            {
                "text": "1"
            },
            {
                "text": "2"
            },
            {
                "text": "3"
            }
        ],
        "width":"90"
    })
</script>